/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* this is the bottom of the css reset */
/* ----------------------------------------- */

/* this is top of the navegation */
nav{
  background-color: rgb(210, 248, 235);
  display:flex;
  justify-content: space-around;
}
ul{
  color: rgb(30, 27, 36);
  margin-top: 5%;
  list-style-type: none;
  display:flex;
  justify-content: space-between;
}
li{
  margin: 1%;
}
#home{
  color: rgb(32, 144, 255);
}



.navbar {
  overflow: hidden;
  margin-top: 5%;
}

.navbar a {
  float: left;
  font-size: 20px;
  color: rgb(32, 26, 26);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: rgb(32, 26, 26);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
 color: rgba(90, 87, 255, 0.788);
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 10%;
  background-color: rgb(255, 255, 253);
  min-width: 5%;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding-right: 1%;
  color: rgba(90, 87, 255, 0.788);
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* this is bottom of the navegation */
/* ----------------------------------------- */
/* ----------------------------------------- */

/* this is top of the images */

.logo{
  margin-top: -1px;
  padding-top: -1px;
  width: 5%;
}

.hero{
  border-radius: 50%;
  width: 30%;
}

/* this is bottom of the images */
/* ----------------------------------------- */
/* ----------------------------------------- */


/* this is bottom of the main section */
body{
  background-color: lightsteelblue;
}
.main-sec{
  max-width: 80%;
}
.hero-sec{
  margin-left: 25%;
  color: rgb(55, 58, 58);
  margin-top: 15%;
  display: flex;
  justify-content: space-evenly;
}

.hero-sec div h1{
  margin: 2% 0%;
}

.hero-sec div p{
  margin: 2% 0%;
  width: 50%;
  font-size: 1.5em;

}
.hero-sec div{
margin-left: 10%;
}

.hero-sec div button{
  margin-top: 2%;
}
.myButton {
  color: rgb(255, 255, 255); font-size: 24px; line-height: 24px; padding: 9px; border-radius: 9px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
  .myButton:hover {
  background: #1C6EA4; }
  .myButton:active {
  background: #144E75; }
/* this is bottom of the main section  */
/* ----------------------------------------- */
/* ----------------------------------------- */