nav {
  display: flex;
  justify-content: space-between;
}

.topsection {
  display: flex;
  justify-content: center;
}

.image-button {
  background-image: url("https://picsum.photos/600/400");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: large;
  width: 600px;
}