/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add CSS styling here */

body{
    font-size: 62%;
}
/*header*/

header{
    background-color: lightgray;
    padding:2%;
}

h1{
    margin:1% 1%;
    font-size: 2rem;
}

.navContainer{
    display:flex;
    flex-flow:row nowrap;
   
}

button{
    background-color: white;
    border:2px solid black;
    color:black;
    padding: 5px 10px;
   }

   button:hover{
    background-color: black;
    border:2px solid white;
    color:white;
   }
   
   button a{
    text-decoration:none;
    color: inherit;
   }

.homeButton{
    background-color: black;
    color: white;
    }


/*Main section*/

.main{
    display:flex;
    flex-flow: row;
    padding:2%
}

.main img{
    width:45%
}
 
.mainText{
    display:flex;
    flex-flow: column wrap;
    justify-content:center;
    align-content: center;
    margin-left:20%;
    margin-bottom:10%;
}

.mainText h2{
        font-size: 1.5rem;
        margin-bottom:5%;
}

.mainText a{
    font-size:.75rem;
    padding:1%;
}

.mainText p{
    font-size:1.1rem;
    margin-top:5%;
}

/*photo section 1*/

.photoContainer1{
    display:flex;
    flex-flow:row;
    justify-content:space-evenly;
}

.photoContainer1 img{
    width:20%;
}

/*text section 1*/

.photoTitle1{
    display:flex;
    flex-flow: row wrap; 
    justify-content:space-around;
    margin:1% 0;
}

/*photo section 2*/

.photoContainer2{
    display:flex;
    flex-flow:row;
    justify-content:space-evenly;
}

.photoContainer2 img{
    width:20%;
}

/*text section 2*/

.photoTitle2{
    display:flex;
    flex-flow: row wrap; 
    justify-content:space-around;
    margin:1% 0;
}

/*footer*/

footer{
    background-color: lightgray;
    padding:2%;
    text-align:center;
}

footer h2{
    font-size: 1.5rem;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
}

