
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poiret+One&display=swap');



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Lets take our knowledge of CSS selectors, properties, and inheritance to add some style to the Sweet Eats Bakery website.  

Task 1: Fork this pen.  You will want to have your own version saved.

Task 2: Explore the CSS.  Look at all the unique selectors.  Find things that are new to you and learn what they do.  Find properties you may not be familiar with and google them.

Task 3: Update the CSS.  You will notice the CSS comments throughout the file below.  Follow the instructions to complete the Sweet Eats Bakery site.  If you follow the instructions, you should see this as a final result:

https://tk-assets.lambdaschool.com/44f6a520-b218-4ed1-910b-f4dc876cd1a6_sweet-eats-home-page.png

Task 4: Submit this project and the HTML project to canvas. Once you have submitted, feel free to look at stretch.

***DO NOT ATTEMPT STRETCH UNTIL YOU ARE FINISHED WITH EVERYTHING ELSE!***

Stretch Task: Fork your final work and see how much you can change the design without changing the HTML.  Try to transform the site by only using CSS selectors.

Stretch Task: Look at CSS animations and see if you could integrate them on the navigation hovers.

Stretch Task: Pick a navigation item and create a new page with the same header and footer as the home page.  Example: you could make a new page just for cookies.  Be creative and have fun coming up with your own unique content and styles. 

*/


/*======= Create a new universal selector that changes the font color to: #3C373B */
 
 .newhead {
	display: flex;
	flex-flow: column wrap;
	width: 100vw;
  
}

.newnav {
margin-top: 30px;

display: flex;
align-items: center;
justify-content: center;
width: 20%;
height: 50px;
margin: 0 auto;
margin-top: 40px;
padding: 30px;
}

.newnav a {
	color:white;
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
	font-size: 20px;
}
nav a:hover {
	color: black;
}
.home {
	
	padding: 30px;
	background-color: #F87B99;
	transition: .3s;
}

.home:hover {
	text-color:black;
	padding: 40px;
	border-radius: 20px;
    background:url(https://images.unsplash.com/photo-1588001832198-c15cff59b078?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
	box-sizing: border-box;
	background-position: left;
}

.newabout {
	
	padding: 30px;
	background-color: #F87B99;
    transition: .3s;
}

.newabout:hover{
	padding: 40px;
	border-radius: 20px;
    background:url(https://images.unsplash.com/photo-1588001832198-c15cff59b078?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
	box-sizing: border-box;
	background-position: left;
}

.contact {
	
	padding: 30px;
	background-color: #F87B99;
    transition: .3s;
}

.contact:hover {
	padding: 40px;
	border-radius: 20px;
    background:url(https://images.unsplash.com/photo-1588001832198-c15cff59b078?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
	box-sizing: border-box;
	background-position: left;
}

.projects {
	
	padding: 30px;
	background-color: #F87B99;
    transition: .3s;
}

.projects:hover {
	padding: 40px;
	border-radius: 20px;
    background:url(https://images.unsplash.com/photo-1588001832198-c15cff59b078?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
	box-sizing: border-box;
	background-position: left;
}


*{
font-color: #3C373B;
}

h1 {
  font-family: 'Gaegu', cursive;
  margin: 20px 0;
  /*=======  Update the font size to 60px and center the text */
  font-size: 60px;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-family: 'Gaegu', cursive;
  margin-bottom: 0;
  padding: 0 10px;
  /*=======  Update the font size to 30px */
  font-size: 30px;
}

/*======= Create a selector for ALL p tags in the site to have the following styles: */

p {
font-size: 16px;
font-family: roboto;
padding: 10px;
line-height: 1.4;
}


/*======= Create a selector for ALL images in the site to have the following styles: 

  border-radius: 10px;

*/

img {
  border-radius: 10px;
}

.content-row {
  display: flex;
}

.content-row div {
  /*======= create a margin propery.  Set the value to 20px */
  margin: 20px;
}

.container {
  /*======= create a width property. Set the value to 600px */
  margin: 0 auto;
  width: 600px;
}

.container header nav a {
  margin: 0 10px;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
   /*======= create a background property. Set the value to #F87B99 */
  background-color: #F87B99;
}

.container header nav a:hover {
/*======= create a background property and set it to white.  Then create a color property and set it's value to pink. */
  background-color: white;
  color: pink;
}

/*======= Create a selector for the about section to have the following styles:
  margin-top: 20px;
*/

.about {
   margin-top: 20px;
}

.contact-section {
  border-top: 1px dashed black;
  padding: 20px 0;
}

.contact-section h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

/*======= Create a selector for the address tag in the contact-section class to have the following styles:
   line-height: 2;
*/

address {
line-height: 2;
} 

footer {
  width: 100%;
  background: #F87B99;
  border-top: 1px dashed white;
}

footer .footer-content { 
  margin: 0 auto; 
  /*======= create a width property. Set the value to 600px */
 width: 600px; 
}

footer .footer-content h3 {
  padding: 0;
  margin: 20px 0;
}

footer nav {
  display: flex;
}

/*======= Create a selector for the anchor tag in the footer to have the following styles:
  margin: 10px;
  color: black;
  text-decoration: underline;
*/

footer a {
  margin: 10px;
  color: black;
  text-decoration: underline;
}



footer nav a:first-child {
  margin-left: 0;
}

/*======= Create a hover state for the anchor tag in the footer nav to have the following styles:
  color: white;
*/

footer a:hover {
  color: white;
}

footer .footer-content .copyright {
  padding: 20px 0;
   /*======= center the text here */
  text-align: center;
}