

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
    text-align: center;
}
#cc{
    background-color: rgba(120, 120, 196, 0.5);
    border-radius:5px;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left:10%;
    padding: 15px;
}

#cf{
    width:60%;
}

label{
    font: size 1.3rem;
    margin-right: 10px;
}

#cf input{
    margin-bottom:5%;
}

input{
    font-size: 1rem;
    width: auto;
    margin-bottom: 3%;
    background-color: transparent;
    border-top: none;
    border-left:none;
    border-right:none;
}

input[type=text]:hover{
    font-size: larger;
}


input[type=textarea]{
    height:15px ;
}

 input[type=submit]:hover{
     cursor: pointer;

 } 



#fname, #lname, #email{
width:100%;
}






#timeline, #date{
    margin-left:20px;
}

.fcontainer{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-right: 25px;
    width:100%;
}

.cc{
    width:100%;
    margin-left:10px;
    margin-top:7px;
    margin-bottom:7px;
    display:inline-block;
    flex-wrap: wrap;
    justify-content: center;
   
    border-radius: 3px;
    padding: 5px;

}

.cc label{
    margin-top:7px;
    margin-bottom:7px;
}


#pd{
    margin: 15px;
    
    margin-top:30px;
    height: 125px;
    width: 250px;
    

}

#pdl{
    width: 100%;
    z-index: 5;
    margin-left:40% ;
}

#tyl{
   
    font-size: 1.3rem;
}

#hc1{
    margin-top:15px;
    margin-bottom:15px;
}

.cc label{
    font-size:1rem;
}


