html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a{
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	color:#4f4f4f;}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
}
html{
    font-size:62.5%;
}
body { 
	box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    font-size:1.6rem;
    line-height:1.5;
    color:#4f4f4f;
    font-family: 'Open Sans', sans-serif;
}

/*
*{
	border:1px solid grey;
}*/
/*main content*/
h1{
	text-align:center;
	padding: 3% 0 0;
	font-size: 5rem;
}
nav{
	display:flex;
	justify-content: center;

}
.about, .contact, .projects{
	display:flex;
	justify-content: center;
	padding:1% 1%;
	margin:1%;
	text-align: center;
	background-color:grey;
	color:white;
	text-decoration:none;
	letter-spacing:3px;
	border-radius:10px;
	transition: 2s;
	width:15%;
}

.about:hover, .contact:hover, .projects:hover{
	background-color: white;
	color:black;
}

h2{
	display:flex;
	justify-content: center;
	font-size: 3rem;
}

.intro{
	text-align: center;
	margin: 2%;
}
.mainimg{
	transition: all 5s ease-in-out;
	width:100%;
	padding:3% 0 0;
	height: 600px;
}
.bottom{
	display: flex;
}

.bottomright{
	display:flex;
	justify-content: center;
	text-align:center;
	padding:7%;
	width:25%;
}

footer{
	display:flex;
	justify-content: center;
	align-items: center;
	margin:10% 0 0;
	width:100%;
	background-color: #4f4f4f;
}

/* MEDIA @800 */
@media(max-width:800px){


	h1, h2 {
		display: flex;
		justify-content: center;
	}
	.mainimg{
		display:flex;
		width: 100%;
		height: 30vh;
	}
	
	.bottom{
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.bottom img{
		margin:4%;
	}
	
	.bottomright{
		width:53%;
		align-items: center;
	}
	footer{
		height:7vh;
	}
	}
	
	

/* MEDIA @500 */

@media(max-width:500px){


h1, h2 {
	display: flex;
	justify-content: center;
}

nav {
	flex-direction: column;
	align-items: center;
}
.about, .contact, .projects{
	width:15%;
	margin-bottom: 1%;
	padding:2%;
}
h2{
	margin:4% 0;
	font-size: 4rem;
}
.intro{
	padding:0 4%;
}
.mainimg{
	display:flex;
	width: 100%;
	height: 20vh;
}

.bottom{
	flex-wrap: wrap;
	justify-content: center;
}

.bottom img{
	margin:8% 4% 0;
}

.bottomright{
	width:100%;
}
footer{
	height:7vh;
}
}

