/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    font-size:62.5%;
    font-family:sans-serif;
    color:black;
   }
   
body {
    background-color:gainsboro;
    }
h1{
    font-size: 4rem;
}
.nav-section{
width:40%;
 }
nav{
display:flex;
flex-wrap: nowrap;
align-items: center;
justify-content:center;
text-align:center;
font-size: 2rem;
color:black;
background-color:teal;
border-radius: 5px;
padding:10px;
margin-top: 20px;
}
nav a{
    margin-right:10%;
    text-decoration:none;
    color:white;
    transition:.5s;
    border-radius: 5px;
}
nav a:hover{
    color:black;
    background: gainsboro;
    margin-left:20 px;
    border-radius: 5px;
}
   
.container{
    display:flex;
    margin:0 auto;
    width:50%;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%; 
    box-sizing:border-box;
    background:url(https://picsum.photos/150);
    background-position:center; 
    height:60vh;
  /*   width:100vw; */
  }
   .projects{
    display:flex;
    align-content: center;
    justify-content:space-between;
    flex-wrap:wrap;
    width:100%;
    height:80vh;
    margin-bottom: 10px;
  }
  .image{
    background:url(https://picsum.photos/150);
    width:200px;
    height:200px;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .text{
    font-family:arial;
    font-size:2rem;
    opacity:.8;
    transition:.3s;
  }
  .text a{
   text-decoration:none;
   color:white;
   text-shadow:1px 1x black;
  }
 .contact{
    justify-content: center;
    align-items: center;
    font-size:2rem;
    align-content: center;
    text-align: center;
    margin-top: 10px;
 }
 @media (max-width:500px){
  nav{
      flex-direction:column;
      justify-content: center;
      align-items: center;

      
  }
}