/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #333;
  color: white;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  background-color: #555;
}
.navbar a {
  padding: 3.125rem;
  color: white;
  text-decoration: none;
  font-size: 1.0625rem;
  width: 25%;
  text-align: center;
}
.navbar a:hover {
  background-color: #000;
}
.navbar a.active {
  background-color: darkcyan;
}

h1 {
  font-size: 5rem;
  margin-top: 1.5%;
}

.picture1 {
  display: flex;
  padding: 1rem;
  margin: 5rem;
}

.picture1 p {
  color: black;
  font-size: 5rem;
  max-width: 100%;
  height: 100%;
  padding-left: 5%;
}
img {
  width: 25%;
  height: 25rem;
}

.button1 {
  background-color: darkcyan;
  color: white;
  font-size: 5rem;
  text-decoration: none;
  border: 0.125rem solid black;
}

.flex-container {
  display: flex;
}

.flex-container div {
  background-color: darkcyan;
  width: 50rem;
  margin: 4rem;
  text-align: center;
  line-height: 4.6875rem;
  font-size: 1.875rem;
  border: 0.5rem solid black;
  flex: 1%;
  padding: 20px;
}

.button2 {
  background-color: darkcyan;
  width: 2;
  color: black;
  font-size: 2rem;
  text-decoration: none;
  border: 0.125rem solid black;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 2.5rem;
}

.button2:hover {
  background-color: #008cba;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  color: #333;
  background-color: #333;
  padding: 2rem;
}

@media (max-width: 800px) {
  header h1 {
    font-size: 20px;
    text-align: left;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;

    align-items: center;
  }

  .navbar a {
    justify-content: center;
    text-align: center;
  }
  .picture1 {
    flex-direction: column;
    max-width: 100%;
    align-items: center;
  }
  .picture1 p {
    font-size: 25px;
    text-align: center;
  }
  img {
    width: 300px;
    height: 300px;
    padding: 50px;
  }

  .flexcontainer div {
    display: flex;
  }

  .flexcontainer.button {
    display: flex;
    justify-self: center;
    flex-direction: column;
  }
  .buttonbutton2 {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .button1 {
    text-align: center;
    align-items: center;
  }
  .container .flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .flex-container {
    width: 500px;
  }
  button {
    align-items: center;
    margin-left: 260px;
    width: 80px;
  }
  .flex-container div {
    width: 240px;
    align-items: center;
    width: 600px;
  }
}

@media (max-width: 500px) {
  header h1 {
    font-size: 20px;
    text-align: left;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;

    align-items: center;
  }

  .navbar a {
    justify-content: center;
    text-align: center;
  }
  .picture1 {
    flex-direction: column;
    max-width: 100%;
    align-items: center;
  }
  .picture1 p {
    font-size: 25px;
    text-align: center;
  }
  img {
    width: 300px;
    height: 300px;
    padding: 50px;
  }

  .flexcontainer div {
    display: flex;
  }

  .flexcontainer.button {
    display: flex;
    justify-self: center;
    flex-direction: column;
  }
  .buttonbutton2 {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .button1 {
    text-align: center;
    align-items: center;
  }
  .container .flex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .flex-container {
    width: 5px;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
  }
  .flex-container div {
    width: 240px;
    align-items: center;
  }
}
