@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poiret+One&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.newhead {
	display: flex;
	flex-flow: column wrap;
	width: 100vw;
  
}

.newnav {
margin-top: 30px;

display: flex;
align-items: center;
justify-content: center;
width: 20%;
height: 50px;
margin: 0 auto;
margin-top: 40px;
padding: 30px;
}

.newnav a {
	color:white;
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
	font-size: 20px;
}
nav a:hover {
	color: black;
}

.home {
	
	padding: 30px;
	background-color: #52796f;
	transition: .3s;
}

.home:hover {
	text-color:black;
	padding: 40px;
	border-radius: 20px;
     background:url(https://images.unsplash.com/photo-1588001832198-c15cff59b078?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
	box-sizing: border-box;
	background-position: left;
}

.about {
	
	padding: 30px;
	background-color: #52796f;
    transition: .3s;
}

.about:hover{
	padding: 40px;
	border-radius: 20px;
     background:url(https://images.unsplash.com/photo-1588001832198-c15cff59b078?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
	box-sizing: border-box;
	background-position: left;
}

.contact {
	
	padding: 30px;
	background-color: #52796f;
    transition: .3s;
}

.contact:hover {
	padding: 40px;
	border-radius: 20px;
     background:url(https://images.unsplash.com/photo-1588001832198-c15cff59b078?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
	box-sizing: border-box;
	background-position: left;
}

.projects {
	
	padding: 30px;
	background-color: #52796f;
    transition: .3s;
}

.projects:hover {
	padding: 40px;
	border-radius: 20px;
     background:url(https://images.unsplash.com/photo-1588001832198-c15cff59b078?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
	box-sizing: border-box;
	background-position: left;

}

.topbuttons {
  text-align: center;
  padding: 75px;
  font-family: 'Roboto Mono', monospace;
}
.bottombuttons {
   text-align: center;
  padding: 75px;
  font-family: 'Roboto Mono', monospace;
}

a {
    color: white;
}



.visit {
  background-color: #FF764E;
  display: inline;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 25px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  transition: all .3s ease;
  
  
}

.visit:hover {
    padding: 20px;
    /*background:url(https://images.unsplash.com/photo-1598417868650-77df5bacdb5b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);*/
    background:url(https://images.unsplash.com/photo-1616450030149-26a8bc9dd54f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    margin: 0px;
    background-position: left;
}
.learn {
  background-color: #5ED3EB;
  display: inline;
  padding: 20px;
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 50px;
  color: white;
  text-decoration: none;
  font-size: 25px;
  transition: all .3s ease;
  border: 2px solid black;
}

.learn:hover {
/*background:url(https://images.unsplash.com/photo-1621705934078-b2993cdaef55?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=402&q=80);*/
background:url(https://images.unsplash.com/photo-1616450030149-26a8bc9dd54f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
background-position: center;
padding: 20px;
margin: 0px;
}

.involve {
  background-color: #FFCD69;
  display: inline;
  padding: 20px;
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  transition: all .3s ease;
  border: 2px solid black;
}

.involve:hover {
background-position: right;
padding: 20px;
margin: 0px;
/*background:url(https://images.unsplash.com/photo-1543855549-4ab79f1860b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80);*/
background:url(https://images.unsplash.com/photo-1616450030149-26a8bc9dd54f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
}

.imageblock {
    display: inline-block;
    
    position: relative;
    padding-left: 150px;
    width: 85%;
}

.imageblock img {
 border-radius: 50%;
  
}

.imageblock h1 {
     
    font-size: 60px;
    margin-bottom: 40px;
    font-family: 'Chelsea Market', cursive;
}

.yostext {
float: right;
    padding: 20px;
    margin: 35px 35px 0 0;
    
    text-align: center;
    position: relative;
   bottom: 300px;
   font-family: 'Roboto Mono', monospace;
   font-size: 25px;
}

.imageblock p {
     
    margin-bottom: 40px;
}


.midbox {
margin-top: 0px;
    background-color: #DDB9A3;
    text-align: center;
    
    margin: 40px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: white;
}

span {
    font-weight: bold;
}

.firepit {
    text-align: center;
}

.firepit_text {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.truck {
    text-align: center;
}

.truck_text {
    
    font-family: 'Roboto Mono', monospace;
    

}

.truck_text p {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    font-size: 20px;
}

.footer {
    background-color: #F9E7DC;
}

.footer img {
    object-position: 20% 10%; 
    object-fit: cover;
    width:100%;
    height:300px;

}

 