html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

body{
     background-color:beige;}

h1{display:flex;
   justify-content: center;
   font-size: 60px;
   color: lightblue;
   font-family:arial;
   margin:20px;
   
}
nav {display:flex;
   justify-content: center;
  flex-direction: row; 
  margin: 2px;
    font-family:arial;
}
    
 
a{border: 2px solid lightgreen;
    padding: 10px;
    color: lightskyblue;
    background-color: slategray;
    text-decoration: none;   
  
}
a:hover{background-color:yellow;}

h2{display: flex;
   justify-content: center;
   font-size: 35px;
   font-family:arial;
   color:lightgreen;
   margin:20px;
}
   
 p{display: flex;
   font-family:arial;
   color: lightskyblue;
   margin:30px;}

container{object-fit:none;
    object-position: 50% 50%;
   }

.image{display: flex;
    width: 500px;
    height: 500px;
    background-size: 100% 100%;
    border: 5px solid beige;
    padding-bottom: 20px;
    object-position: 100% 100%;

}

   
 


section-two{    
    font-family:arial;
    color:lightskyblue;
    margin: 20px;
    font-weight:bold;} 

    .images{display:flex; 
    justify-content: space-around;
    align-items: center;} 

    .picture-text{
    font-family:arial;
    color:lightskyblue;
    margin: 20px;
    font-weight:bold;}


footer{display:flex;
    background-color:lightblue;
    font-family:arial;
    justify-content:center; 
    border: 1px solid lightgreen;
    padding: 40px;
}
a{border: 2px solid lightgreen;
  padding: 10px;
  width: 100px; 
  height: 20px;  
  color: lightskyblue;
  background-color: slategray;
    text-decoration: none;}
