/* Add CSS styling here */

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poiret+One&display=swap');




/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


	* {
		max-width: 100vw;
	}

 body {
 	 background-color: #2f3e46;
	 
 }

header {
	display: flex;
	flex-flow: column wrap;
	width: 100vw;
}

h1, h2 {
	font-family: 'Poiret One', cursive;
	font-weight: bold;
}

h1 {
margin-top: 50px;
	text-align: center;
	font-size: 40px;

}

nav {
margin-top: 30px;

display: flex;
align-items: center;
justify-content: center;
width: 20%;
height: 50px;
margin: 0 auto;
margin-top: 40px;
padding: 30px;
}

nav a {
	color:white;
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
	font-size: 20px;
}

nav a:hover {
	color: black;
}

.home {
	padding: 30px;
	background-color: #52796f;
	transition: .3s;
}

.home:hover {
	color:black;
	padding: 40px;
	border-radius: 20px;
	 background:url(https://images.unsplash.com/photo-1588001832198-c15cff59b078?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
	box-sizing: border-box;
	background-position: left;
}

.about {
	padding: 30px;
	background-color: #52796f;
	transition: .3s;
}

.about:hover{
	padding: 40px;
	border-radius: 20px;
	 background:url(https://images.unsplash.com/photo-1588001832198-c15cff59b078?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
	box-sizing: border-box;
	background-position: left;
}

.contact {
	
	padding: 30px;
	background-color: #52796f;
	transition: .3s;
}

.contact:hover {
	padding: 40px;
	border-radius: 20px;
	 background:url(https://images.unsplash.com/photo-1588001832198-c15cff59b078?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
	box-sizing: border-box;
	background-position: left;
}

.projects {
	
	padding: 30px;
	background-color: #52796f;
	transition: .3s;
}

.projects:hover {
	padding: 40px;
	border-radius: 20px;
	 background:url(https://images.unsplash.com/photo-1588001832198-c15cff59b078?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
	box-sizing: border-box;
	background-position: left;
}


h2{
	font-size: 40px;
	margin-top: 40px;
	text-align: center;
}

p {
	text-align: center;
	margin-top: 50px;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
}

.music {
	text-align: center;
	margin-top: 100px;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	
	

}

.music a{
	text-decoration: none;
	color: white;
	background-color: #52796f;
	padding: 40px;
	border-radius: 20px;
	width: 100px;
	transition: .3s;
	transform: rotate(-10deg);
}

.music a:hover {
	transform:rotate(10deg);
}

.midimg {
	text-align:center;
	width: 400px;
	height: 400px;
	
	margin: 0 auto;
	background:url(https://images.unsplash.com/photo-1617195737496-bc30194e3a19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=375&q=80);
	background-position:center;
	margin-top: 80px;
	border-radius: 50%;
	margin-bottom: 90px;
} 

.footer {

	
	width: 100%;
	height: 200px;
	background-color: #cad2c5;
}

.footer .contact {
	

	text-align: center;
	margin: 0 auto;
	font-size: 30px;

}
