html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size:62.5%;
    color:#4f4f4f;
    
}

h1{
    font-size:6rem;
    display:flex;
    justify-content:center;
}

nav{
    font-size:1.8rem;
    display:flex;
    justify-content:space-evenly;
    padding:3% 0;
    font-weight:bold;
    font-style:italic;
}

a{
    text-decoration:none;
    color:#4f4f4f
}

a:hover{
    color:teal;
}

.intro{
    display:flex;
    justify-content:center;
    font-size:1.7rem;
    padding:10vh;
}

.mainimg{
    display:flex;
    justify-content:center;
    align-items: center;
    padding:0 0 0 5%;
    max-width:95%;
    height:40%;

    
}

.gallery{
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-size:1.6rem;
    padding:10% 3%;
}

footer{
    display:flex;
    justify-content:space-evenly;
    background-color: wheat;
    padding:3%;
}

button{
    background-color:teal;
    border:3px solid teal;
    border-radius:5%;
    
}

button:hover{
    background-color:palevioletred;
    border: 3px solid palevioletred;
}

@media(max-width: 500px){

    nav{
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    header{
align-items: center;
    }

.mainimg{
    justify-content: center;
    align-items:  center;
}

.gallery{
    flex-direction: column;
}
}

@media(max-width: 800px){
    .gallery{
        flex-flow: row wrap;


    }


}