/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
    font-family: monospace;
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: xx-large;
    background-color: black;
    color: white;
}
nav{
    font-size: xx-large;
    color: black;
    font-family: monospace;
    
}
.navhome{
    background-color: black;
    color: white;
}
.navabout{
    background-color: black;
    color: white;
}
.navcontact{
    background-color: black;
    color: white;
}
.navprojects{
    background-color: black;
    color: white;
}
.titlepic{
    position: relative;
}
.title{

    color: white;
    font-size: xx-large;
    font-family: monospace;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./pexels-min-an-920534.jpg");
}
.projects{
    font-size: large;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: monospace;
    text-align: center;
}
footer{
    text-align: center;
    justify-content: flex-end;
}
.footernav{
    background-color: black;
    color: white;

}