body {
    margin: 0; 
    background: #222;
    font-family: sans-serif;
    font-weight: 300;
}

h1 {
    font-family: monospace;
    font-weight: 1500;
    font-size: 30px;
    border: solid white 2px;
    color: white;
    text-align: center;

}

.container {
   width: 80%;
   margin: 0 auto;
}

.logo{
    float: left;
    padding: 10px;
    width: 175px;
}

header {
    background: #55d6aa;
}
nav {
    float: right;
}

#bottomclick {
    border: solid white 2px;
    background-color: black;
    padding: 12px 40px;
    text-decoration: none;
    list-style: none;
    display: table;
    content: '';
    clear: both;
    text-transform: lowercase;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 40px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

nav a:hover {
    color: black;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #444;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

footer::after {
    content: '';
    display: table;
    clear: both;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 40px;
    position: relative;
}

footer a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

footer a:hover {
    color: #55d6aa;
}

footer a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #444;
    position: relative;
    top: 0;
    transition: all ease-in-out 250ms;
}

footer a:hover::before {
    width: 100%;
}

.first {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border: groove whitesmoke 7px;
    border-radius: 18px;
    background-color: gray;
    margin: 30px;
    position: center relative;
    font-family: monospace;
}

.second {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border: groove whitesmoke 7px;
    border-radius: 18px;
    background-color: gray;
    margin: 30px;
    position: center relative;
    font-family: monospace;
}

.third {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border: groove whitesmoke 7px;
    border-radius: 18px;
    background-color: gray;
    margin: 30px;
    position: center relative;
    font-family: monospace;
}

.fourth {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border: groove whitesmoke 7px;
    border-radius: 18px;
    background-color: gray;
    margin: 30px;
    position: center relative;
    font-family: monospace;
}

#seals {
    border-radius: 30px;
    border: groove white 3px;
    position: center;
    width: 550px;
    height: auto;
    padding: 15px;
    background-color: blanchedalmond;
}

#dolphin {
    border-radius: 30px;
    border: groove white 3px;
    position: center;
    width: 550px;
    height: auto;
    padding: 15px;
    background-color: blanchedalmond;
}

#jelly {
    border-radius: 30px;
    border: groove white 3px;
    position: center;
    width: 550px;
    height: auto;
    padding: 15px;
    background-color: blanchedalmond;
}

#ocean {
    border-radius: 30px;
    border: groove white 3px;
    position: center;
    width: 550px;
    height: auto;
    padding: 15px;
    background-color: blanchedalmond;
}
.toptext {
    display: inline-block;
    justify-content: right;
    text-align: right;
    padding: 50px;
    border: 55px;
    margin: 53px;
}

.secondtext {
    display: inline-block;
    justify-content: left;
    text-align: left;
    padding: 50px;
    border: 55px;
    margin: 53px;
}

.thirdtext {
    display: inline-block;
    justify-content: right;
    text-align: right;
    padding: 50px;
    border: 55px;
    margin: 53px;
}

.fourthtext {
    display: inline-block;
    justify-content: left;
    text-align: left;
    padding: 50px;
    border: 55px;
    margin: 53px;
}

.topimages {
    display: flex;
    justify-content: space-around;
    padding: 60px;

}

.boxshadow {
    box-shadow: 5px 5px #B3B6B7;
    border: solid white 2px;
}

#chevy {
    height: 750px;
    border-radius: 25px;

}

#moon {
    height: 750px;
    border-radius: 25px;
}

#books {
    height: 750px;
    border-radius: 25px;
}

.secondimages {
    display: flex;
    justify-content: space-around;
    padding: 60px;

}

#stairs {
    height: 750px;
    border-radius: 25px;
}

#dude {
    height: 750px;
    border-radius: 25px;
}

#temple {
    height: 750px;
    border-radius: 25px;
}

.thirdimages {
    display: flex;
    justify-content: space-around;
    padding: 60px;

}

#glacier {
    height: 750px;
    border-radius: 25px;
}

#point {
    height: 750px;
    border-radius: 25px;
}

#city {
    height: 750px;
    border-radius: 25px;
}

footer {
    background: #55d6aa;
    padding: 35px;
    position: bottom relative;
}

.foot {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: bottom relative;
}

#havequestions {
    text-align: center;
}

#contacth1 {
    font-size: 100px;
    text-decoration: wavy;
    text-decoration-color: white;
}

.contacts {
    color: white;
    text-align: center;
    list-style-type: none;
    text-decoration:none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    margin: 0;
    padding: 0;
    line-height: 100px;
    font-family: monospace;
    font-weight: 800;
    font-size: 36px;
}

#contacttext {
    font-size: 100px;
    text-decoration: wavy;
    text-decoration-color: white;
    text-align: center;
    color: white;
    border: solid white 5px;
}

#address {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 45px;
}
.contacts li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 40px;
    position: relative;
}

.contacts a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

.overlay {

}

#abouthead {
    text-align: center;
    border-radius: 18px;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 70px;
}

#aboutwords {
    margin-left: 750px;
    margin-right: 750px;
    text-align: center;
    padding: 45px;
    border: solid white 1px;
    background-color: white;
    border-radius: 20px;
    font-size: 36px;
}