
html {
	font-size: 62.5%;
	box-sizing: border-box;
}

h1 {
	display: flex;
	font-size: 80px;
	font-family:'Cinzel';
	margin-left: 5%;
}

body {
	font-size: 1.6rem;
	line-height: 1;
	font-family:'Asap';
	background-color: lightgray;
}

header {
	border: 3px solid black;
	background-image: url("Pictures/i8.jpg");
	background-attachment: scroll;
}

 #nav-bar{
	 display: flex;
	 margin: 2%;
	
} 

li {
	display: flex;
	padding: 10px;
	float: left;
	border: 1px solid black;
	background-color: lightgreen;
}

li :hover {
	background-color: lightseagreen;
}

.section-one{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5%;
}

#main-image {
	width: 700px;
	height: 500px;
}

.subheading {
	display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
	height: 35%;
	font-size: 3rem;
	margin: 5% 19%;
	
}


img {
	width: 300px;
	height: 300px;
}

img:hover {
	border: 10px dotted purple;
}

#top-image-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

#bottom-image-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10%;
}

h3 {
	font-size: 30px;
}


footer {
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: khaki;
	margin: 3%;
	padding: 2%;
	border-radius: 3%;
}

/* Media Queries */

@media(max-width: 800px) {
	body {
		background-color: lightpink;
	}
	#main-image {
		width: 130%;
		height: 70%;
	}

	.section-one{
		display: flex;
		align-items: center;
	}

	img {
		width: 50%;
		height: 50%;
	}

}
