/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /* border: 1px solid lightgray; */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  text-decoration: none;
  box-sizing: border-box;
  /* padding: 0; */
  /* margin: 0; */
  /* max-width: 100%; */
  /* color: #16a1bd; */
  /* background-color: #00000042; */
  font-size: 20px;
  /* height: 100 */
  font-family: 'Roboto', sans-serif;
}

nav {
  /* text-size:  */
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(78, 142, 172);
  font-family: 'Roboto', sans-serif;

  font-size: 4vw;
  color: rgb(235, 140, 52);
}
a {
  color: rgb(235, 140, 52);
  font-family: 'Roboto', sans-serif;

  margin-bottom: 1%;
}
header h1 {
  font-family: 'Roboto', sans-serif;

  display: flex;
  justify-content: flex-start;
}
.portfolio-images {
  font-family: 'Roboto', sans-serif;

  padding-top: 7%;
  /* background-color: rgba(165, 165, 165, 0.493); */

  color: rgb(235, 140, 52);
  width: 100%;
  font-family: 'Roboto', sans-serif;

  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  /* margin-right: 10%; */
  /* margin-left: 10%; */
  font-size: 2ev;
  padding-bottom: 5%;
  text-align: center;
  background-color: rgba(165, 165, 165, 0.493);

  text-justify: center;
}
.portfolio-images a {
  font-family: 'Roboto', sans-serif;

  font-size: 2rem;
}
.portfolio-images h1 {
  font-family: 'Roboto', sans-serif;

  /* background-color: rgba(165, 165, 165, 0.493); */

  color: rgb(235, 140, 52);

  /* display: flex; */
  font-size: 3.5rem;
}
/* 
.me {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 200px; */
/* background-image: url('./images/bg.jpg');
  background-size: cover;
  background-position: fixed;
  align-items: center; */
/* align-content: center; */
/* justify-items: center; */

.Gallery {
  /* margin-left: 10%; */
  /* margin-right: 10%; */
  width: 100%;
  display: flex;
  font-family: 'Roboto', sans-serif;

  flex-wrap: wrap;
  justify-content: space-around;
  color: rgb(235, 140, 52);
  background-color: rgba(165, 165, 165, 0.493);
}

.square {
  width: 40%;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 4.4ev;
}

/* .gal {
  display: flex;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
  align-content: space-around;
}
.container {
  text-align: center;
  display: flex;
  max-width: 40%;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
} */

.contact {
  display: flex;
  width: 100%;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  content-align: center;
  justify-content: center;
  background-color: rgb(78, 142, 172);
  /* background-color: rgba(0, 0, 0, 0); */
}
.contact button {
  rounded-corners: 10;
  font-family: 'Roboto', sans-serif;
}

footer button {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 60%;
  background-color: rgba(199, 155, 155, 0.5);
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
}
