/* Add CSS styling here */

html {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0 9rem;
    text-align:center;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }
  /* "minimal" CSS Reset above */
  
  
  ***************************************************************
  
  html {
    text-align:right;
    background-image:url('https://assets.codepen.io/3163723/alex-wong-l5Tzv1alcps-unsplash.jpg');
    color:white;
    font-family: 'Pragati Narrow', sans-serif;
    text-shadow: 1px 1px black;
    font-size:30px;<header class="top">Welcome to Julie's Portfolio</header>
    width:1200px;
  }
  
  header nav a {
      padding:0 30px;
      color:white;
      text-decoration:none;
      background-color:rgb(87, 78, 207);
      border:solid black 2px;
      margin: 30px 30px;
  }

  nav a:hover {
    color:black;
    font-style:italic;
  }
  
  
  .section1 {
    padding: 5px 10px 0px;
    opacity:0.9;
  }
  
  .stack {
    width:800px;
    height: auto;
    border-radius:15px;
    margin:2px 20px;
  }
  
  .about {
    height:800px;
    width:800px;
    height: auto;
    border-radius:15px;
    margin:2px 20px;
  }
  
  .section2 {
     padding: 5px 10px 0px;
  }
  
  .gallery {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items:stretch;
  }
  
  
  .image1{
    margin-left: 20px;
    height: 1000%;
    width: 1500%;
    margin-bottom:0;
    flex-grow:4;
  }
  
  .image2{
    margin-left: 20px;
    height: 1000%;
    width: 1500%;
    margin-bottom:60px;
    flex-grow:4;
    
  }

  .image5{
    height:400px;
    width:230px;
    align-self:flex-end;
  }
  
  .image6{
    margin-left: 20px;
    height:400px;
    width:230px;
  }
  
  .image7{
    margin-left: 20px;
    height:400px;
    width:230px;
  }
  
  .image8{
     margin-left: 20px;
     height:400px;
     width:230px;
  }

  .bottom {
    background-color:grey;
    padding:8px 50px;
    margin:0 50px;
    border-radius:5px;
    text-align:center;
  }
  
    footer a {
    padding:5px 30px;
    background-color:orchid;
    box-shadow: 0 3px 3px 0;
    border-radius:5px;
    text-decoration:none;
  }

  footer a:hover {
    color:black;
    font-style: italic;
  }