
.hobbies{
    margin:  10px;
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
}


..hobby-img{
    margin:  40px;
    padding: 20px;
    display:flex;
    justify-content: space-around;
    justify-items:last baseline;
    align-items: baseline;
}
img{
    text-align: center;
    width: 25%;
    height: 50%;
}

.favorite-food{
    margin: 10px
    border-radius: 50%;
}
.sapphic{
    margin: 20px;
    border-radius: 10%;
}