/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



 html {
    /* box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 blue inset; */
    border: 20px solid black;
   background-color: whitesmoke;
   
   background-image: url(https://images.unsplash.com/photo-1511731287071-d365cf9ed8ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
   background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
 }
 
h1 {
    font-size: 3rem;
    color: white;
    /* padding-right: 40%; */
}
header {
    padding: 25px;
    color: whitesmoke;
    background-color: black;
    text-align: center;
    margin: 0px auto;
    border: 10px solid rgb(9, 94, 146);
    font-size: 40px;
    /* margin-top: 0px;
    padding: 0px 10px 10px 10px;
    background-color: black;
    text-align: center;
    margin: 0px auto;
    font-family: cursive;
    border: 10px solid rgb(9, 94, 146);
    width: 95%;
    color: whitesmoke;
    font-size: 45px;
    /* border-radius: 25%; */
    /* position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end; */
} 
header:hover {
    /* background-color: whitesmoke;
    color: black; */
    font-size: 49px;
}


nav a {
    /* color: white;
    display: flex;
    background: whitesmoke;
    padding: 1px;
    padding-bottom: 3px; */
    flex-direction: row;
    
    color: white;
    /* border: 1px solid grey; */
    /* border-radius: 10px; */
    font-size: 21px;
    /* display: inline-block;
    border-radius: 25%;
    font-size: 16px;
    background-color: white;
    padding: 10px;
    background: blue;
    text-decoration: none; */

  }
    nav a:hover{
    cursor: pointer;
      font-size: 30px;
     font-style: ;
  } 


/* header h1 {
    font-size: 80px;
    color: whitesmoke;
    background-color: black;
    /* padding: 10px 25px 10px 25px; 
    font-family: cursive;
    

}
 header h1:hover {
    background-color: darkgray;
} */


h2 {
    padding-top: 10%;
    padding-bottom: 5%;
   font-style: italic;
    font-size: 2rem;
    text-align: center;
}

.picture img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border-radius: 15%;

     

}

.container img {
   width: 15%;
   
  justify-content: space-around;
  border-radius: 10%;

}
.container {
    flex-direction: row;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
}
.container p {
   width: 25%;
   
}


/* .container {
   
        margin: 50px;
        align-items: left;
        display: flex;
        justify-content: space-between;

}
.container img {
   display: flex;
   width: 30%;

} */


.class p {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 1.2rem;
    padding-bottom: 5%;

    
}

.container p {
    text-align: center;
    padding: 120px 0px 0px 10px;
    color: darkblue;
    
}

h3 {
    font-style: italic;
    font-size: 30px;
}
footer {
    padding: 25px;
    color: whitesmoke;
    background-color: black;
    text-align: center;
    margin: 0px auto;
    border: 10px solid rgb(9, 94, 146);
    font-size: 40px;

}
footer nav {
    display: inline-block;
    background: whitesmoke;
    padding: 1px;
    border: 5px solid white;
    border-radius: 10px;
    font-size: 16px;
}
footer nav:hover {
    font-size: 20px;
}
.about  {
    margin: 50px;
    align-items: left;
    display: inline-flex;
    justify-content: space-between;
    font-size: 25px;
    text-align: end;
    color: blue;
    }
.about img {
    max-width:20%;
    height:auto;
    justify-content: space-between;
}
.aboutme {
    color: blue;
    padding: 25px 30px 25px 35px;
    
}
/* @media (max-width: 500px) {
    /* <meta name="viewport" content="width=device-width, initial-scale=1"> */
/* html {
   border: none;
   width: 300px;
   
}
h1 {
    padding: 0px 10px 10px 0px;
    font-size: 25px;
    text-align: left;
    
}
    header {
        justify-content: space-around;
        width: 85%;
        flex-direction: column;
        padding: 0px 0px 0px 0px;
       
        background-position: left;
        position: initial;
        align-items: center;
        
    }
    nav { 
    flex-direction: column;
    padding: 2px;
    margin-right: 50px;
    align-items: flex-start;
    text-align: left;

}
h2 {
    padding-top: 180px;
}
.class {
    text-align: left;
    align-content: left;
    justify-content: none;
    position: center;

}
body .picture {
   display: none;
}
.container {
    height: auto;
}
} */ 

    @media(max-width: 500px) {
    h1 { 
        font-size: 3rem;
        padding-right: 0%;
    }
    h1 header { 
        flex-direction: column;
    }
    header {
        padding-bottom: 20%;
    }
    nav {
        flex-direction: column;
        align-items: left;
        padding: 0%;
        
    }
    .container {
       flex-direction: column;
       width: 50%;
       align-items: center;
    }
    .container img {
        width: 40%;
        display: block;
    }