/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
h1{
    font-family: 'Lemonada', cursive;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 400%;
}
h2{
    font-family: 'Lemonada', cursive;
    display: flex;
    justify-content: center;
    font-size: 300%;
}
p{
    font-family: 'Lemonada', cursive;
    display: flex;
    justify-content: center;
    font-size: 150%;
    margin-bottom: 2%;
}
.headerimg{
    margin-bottom: 2%;
}
.images{
    display: flex;
    align-items: stretch;
    justify-content: left;
}
.photo1{
    margin-right: 1%;
    border: 1% solid black;

}
.photo2{
    margin-right: 1%;
    border: 1% solid black;
}
.photo3{
    margin-right: 1%;
    border: 1% solid black;   
}
.photo4{
    margin-right: 1%;
    border: 1% solid black;
}
.imgdes{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: inline;
    margin-top: 7%;
    margin-left: 4%;
    max-width: 20%;
}
.menu{
    justify-content: center;
    align-content: center;
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Lemonada', cursive;
}

.home{
    background: #000000;
    padding: 1% 2%;
    text-align: center;
    border: 1px solid black;
    color: white;
}
.home:hover{
    background-color: white;
    color: black;
}
.about:hover{
    background-color: white;
    color: black;
}
.contact:hover{
    background-color: white;
    color: black;
}
.projects:hover{
    background-color: white;
    color: black;
}
.about{
    background: slategrey;
    padding: 1% 2%;
    text-align: center;
    border: 1px solid black;
    color: white;
}
.projects{
    background: slategrey;
    padding: 1% 2%;
    text-align: center;
    border: 1px solid black;
    color: white;
}
.contact{
    background: slategrey;
    padding: 1% 2%;
    text-align: center;
    border: 1px solid black;
    color: white;
}
.navfoot{
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgb(129, 153, 177);
}
.navbutton{
    margin-top: 2rem;
    font-family: 'Lemonada', cursive;
    background: slategray;
    padding: .25% 20%;
    text-align: center;
    border: 1px solid black;
    color: white;
    max-width: 10%;
    max-height: 3%;
    border: 1px solid black;
    margin-bottom: 2%;
}
.fa {
    padding: 2%;
    font-size: 3%;
    width: 3%;
    text-align: center;
    text-decoration: none;
    margin: 5% 0.125%;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1% 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-android {
    background: #a4c639;
    color: white;
  }
  .fa-github{
      background: #3B5998;
      color: white;
  }
  
  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }
  
  .fa-vimeo {
    background: #45bbff;
    color: white;
  }
  
  .fa-tumblr {
    background: #2c4762;
    color: white;
  }
  
  .fa-vine {
    background: #00b489;
    color: white;
  }
  
  .fa-foursquare {
    background: #45bbff;
    color: white;
  }
  
  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }
  
  .fa-flickr {
    background: #f40083;
    color: white;
  }
  
  .fa-yahoo {
    background: #430297;
    color: white;
  }
  
  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }
  
  .fa-reddit {
    background: #ff5700;
    color: white;
  }
  
  .fa-rss {
    background: #ff6600;
    color: white;
  }
  

a:visited{
    color: white;
}
@media screen and (max-width: 500px){
  .menu{
    justify-content: center;
    align-content: flex-end;
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 35%;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Lemonada', cursive;
    display: block;
    overflow-y: auto;
    padding: .0125%;
    max-width: 25%
}

.home{
    background: #000000;
    padding: 1% .0125%;
    text-align: center;
    border: 1px solid black;
    color: white;
    display: block;
    overflow-y: auto;
    width: 100%;


   
}
.home:hover{
    background-color: white;
    color: black;
}
.about:hover{
    background-color: white;
    color: black;
    
}
.contact:hover{
    background-color: white;
    color: black;
}
.projects:hover{
    background-color: white;
    color: black;
}
.about{
    background: slategrey;
    padding: 1% .0125%;
    text-align: center;
    border: 1px solid black;
    color: white;
    display: block;
    overflow-y: auto;

}
.projects{
    background: slategrey;
    padding: 1% .0125%;
    text-align: center;
    border: 1px solid black;
    color: white;
    display: block;
    overflow-y: auto;

}
.contact{
    background: slategrey;
    padding: 1% .0125%;
    text-align: center;
    border: 1px solid black;
    color: white;
    display: block;
    overflow-y: auto;

}
}