* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

header {
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: space-around;
  background-image: url(../images/beach.jpg);
  margin-bottom: 2%;
  align-items: center;
  padding: 3%;
}

header nav {
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2px solid black;
  height: 35px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  min-height: 60vh;
  justify-content: center;
  margin-bottom: 2%;
  background-color: #dbe4ee;
}

section {
  width: 80%;
  height: 80%;
}

section h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 5%;
}

footer {
  background-color: gray;
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 25px;
  margin-bottom: 1%;
}

footer button {
  height: 50px;
  width: 150px;
}

@media (max-width: 850px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
