
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	/* border: 0; */
	}
/* font-family: 'Grandstander', cursive; */
/* Add CSS styling here */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%; 
    font: size 62.5%;
    /* border: 1px solid grey; */
}

body{
    
    font-family: grandstander, cursive;
}

header{
    background-color: #8BC5EB ;
    /* opacity: .8; */
    color: #F9AF72;
    padding: 0 0 2% 0;
    width:100%;
    top:0;
    /* z-index:999; */
    display: flex;
    flex-direction: column;
    
}
    
h1{
    font-size: 6rem;
    padding: 2.5% 1%;
}

nav a {
    padding: 1%;
    border-radius: 20%;
    margin: 1%;
    background-color: #F9AF72;
    color: #D6E9F8;
    text-decoration: none;
    transition: 1s;
}

nav a:hover{
    background-color: #FEF7DB;
    color: #8BC5EB;
    border: #F9AF72 2px solid;
}
/* Main Section CSS */

#main{
    background-color:#FEF7DB;
    display:flex;
}

div {
    font-size: 5rem;
    padding: 5% 0 6% 0;
    flex-direction: column;
}
#main img{
    padding: 1% ;
    margin: 3%;
    width: 10%;
    height: 10%;
    border-radius: 50%;
}

#main p{
    font-size: 1.3rem;
    width: 50%;
    margin-left: 23%;
    text-align: center;
}
/* picture section */

#favorite{
    background-color:#FEF7DB;
    padding: 0 5% 5% 5%;
    color: #8BC5EB;
    font-size: 3rem;
}

#favorite div{
    margin: 2%;
}



footer{
background-color: #8BC5EB ;
color: #F9AF72;
width:100%;
text-align: center;
padding: 4% 0;
}

h3 {
    font-size: 3rem;
    padding: 3% 0;
}

footer a{
    margin: 3%;
    padding: 1.5% 2%;
    border-radius: 20%;
    margin: 6% ;
    background-color: #F9AF72;
    color: #D6E9F8;
    text-decoration: none;
    transition: 2s;
}
footer a:hover{
    background-color: #FEF7DB;
    color: #8BC5EB;
    border: #F9AF72 2px solid;
}