/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font: inherit;
    font-family: 'Kalam', cursive;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: flex;
}

/* Universal anchor */
a{
    text-decoration: none;
}

a:visited{
    color:#5700EE;
}

a:hover{
    text-decoration: underline;
    color: black;
}

/* Header */
header, .heading, nav{
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1%;
    padding: 1%;
    background-color: #a9c9d6;
}

header{
    justify-content: space-between;
}


header nav button{
    border: none; 
    margin: 1%;  
    font-size: large;
    background: none;
}

section{
    font-size: xx-large;
    display: flex;
    justify-content: center;
    padding: 15%;
}

section p{
    margin-left: 10%;
    padding: 10%;
}






/* Footer */
footer{
    background-color: #a9c9d6;
    padding: 3%;
}

footer button{
    margin-left: 43%;
    font-size: 2.4rem;
    background: none;
    border:none;
    color:#5700EE;
}