/* CSS RESET */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cell spacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	max-width: 100%;
	/* border: 1px solid red; */
}
/* General styles */
html{
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	line-height: 1.5;
	color: #4f4f4f;
	font-family: 'Roboto Mono', monospace;
	/* background-color: #DDB9A3; */
}

h1 {
	font-family: 'Chelsea Market', cursive;
	font-size: 5rem;
}

a {
	font-family: 'Roboto Mono', monospace;
}
span {
	font-weight: bold;
}
section {
	padding: 4% 0;
}

/* Add CSS styling here */

/*CSS Reset*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
  /*put a border around everything to see where it stops and starts*/
    border:1px solid grey;
}
/*General Styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.8rem;
    line-height: 1.5;
    color:#4F4F4F;
    font-family: 'PT Sans', sans-serif;
    background-color:#FFFAFA;
}
h1, h2, h3, h4{
    letter-spacing: 3px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size:2.5rem;
}
section{
    padding: 4% 0;
}
a{
    text-decoration:none;
    letter-spacing:3px;
    color:#4F4F4F;
    font-family: 'PT Sans', sans-serif;
}
a:hover{
    color:#fcb131;
}
i{
    font-size: 5rem;
}
/*header section styles*/
header nav{
    position:fixed;
    width:100%;
    top:0;
    background-color:rgba(255, 255, 255, 0.8);
    align-items:center;
    height:10vh;
    z-index: 999;
    display:flex;
    justify-content:space-between;
}
.logo{
    width:20%;
    margin-left:3%;
}
.links{
    width:50%;
    align-items:center;
    display:flex;
    justify-content:space-evenly;
}
/*Top Section Styles*/
#top{
    height:85vh;
    background-image:url('https://unsplash.com/photos/tkE5nutsKt8');
    margin-top:5%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center top;
    display:flex;
    justify-content:center;
    align-items:center;
}

/*Farm Section Styles*/

/*blank section styles*/

/* .hero-image{
    height:40vh;
    background-image:url('https://github.com/BrityHemming/farm-to-table-practice-project/blob/solution/farm-to-table/images/dirt.jpg?raw=true');
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
} */

/*About Section Styles*/

/*Gallery Section Styles*/

.gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.gallery div{
    width:30%;
    height:40vh;
    margin:4% 0;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    display:flex;
    align-items:flex-end;
}
.gallery div .hide{
    width:70%;
    height:10vh;
    background-color:#fff;
    display:none;
}
.gallery div .hide h2{
        font-size:2.2rem;
    }
.gallery div:hover .hide{
    display:block;
}
.farm{
    background-image:url('https://github.com/BrityHemming/farm-to-table-practice-project/blob/solution/farm-to-table/images/barn.jpg?raw=true');
}
.cook{
    background-image:url('https://github.com/BrityHemming/farm-to-table-practice-project/blob/solution/farm-to-table/images/cook.jpg?raw=true');
}
.produce{
    background-image: url('https://github.com/BrityHemming/farm-to-table-practice-project/blob/solution/farm-to-table/images/produce.jpg?raw=true');
}
.animals{
    background-image: url('https://github.com/BrityHemming/farm-to-table-practice-project/blob/solution/farm-to-table/images/sheep.jpg?raw=true');
}


/*Footer Section Styles*/

footer{
    background-color:#a8a7a4;
    color:#fff;
    height: 10vh;
    /* padding:2% 0;  */
    display:flex;
    justify-content: space-around;
    align-items:center;
    
}
footer a{
    color:#fff;
    
}
footer a:hover{
    color:#4f4f4f;
}
footer div{
    width:10%;
}

/*Media Queries*/
/*Tablet*/
@media (max-width: 800px){
    .links{
        width:70%;
    }
    #about .text{
        width:80%;
    }
    .gallery div .hide{
        background-color:#fff;
        display:block;
        width:70%;
    }
    .gallery div .hide h2{
        font-size:2.2rem;
    }
    .contact-info{
        width:50%;
    }
    .img-container{
        width:80%;
    }
    .left{
        width:60%;
    }
    .right{
        width:40%;
    }
}

/*phone*/
@media (max-width: 500px){
    header nav{
        flex-direction:column;
        height:18vh;
    }
    .links{
        width:100%;
    }
    .logo{
        text-align:center;
    }
    .titles{
        background-color:rgba(255, 255, 255, 0.8);
    }
    .container{
        flex-wrap:wrap;
    }
    .box{
        width:90%;
        margin:4% 0;
    }
    #about .text{
        width:90%;
    }
    .gallery div{
        width:90%;
    }
    #contact{
        justify-content: center;
    }
    .left, .right{
        width:90%;
    }
    .right{
        order:-1;
    }
    #contact h2{
        order:-2;
    }
    .img-container{
        width:90%;
    }
    .contact-info{
        width:90%;
    }
    footer{
        flex-wrap:wrap;
    }
    footer div{
        width:90%;
        margin:4% 0;
    }
    .copyright{
        justify-content:flex-start;
    }
}
