.container {
    background-color: yellow;
    width: 500px;
  }
  
  .content {
    display: inline-flex;
    position:relative;
  }
  
  .over {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(255, 0, 0, 0.8);
  }