*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    border: 1px solid grey;
}

header{
    background-color: lightgrey;
    padding: 20px;
    margin-bottom: 15px;
}

footer{
    background-color: lightgrey;
    text-align: center;
    padding: 20px;
}

.topsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.discription {
    padding: 20px;
}

.row{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 20px;
}
.portfolio-element{
    text-align: center;
}
@media(max-width: 800px){
    .row div{
        width: 20%;
    }
    .topsection img{
        width: 40%;
    }
}
@media(max-width: 500px){
    header{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    button{
        width: 40%;
        margin: 1% 0;
    }
    .topsection{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .topsection div{
        width: 90%;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .row div{
        width: 40%;
        margin: 4% 0;
    }
}