/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, summary,
time, mark, audio, video {
    margin: 0; 
	padding: 0;
    font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* CSS RESET */
/* general styles */
* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
 font-size: 1.6rem;
 font-family: 'Noto Sans TC', sans-serif;
 line-height: 2; 
}

/*HEADER SECTION*/

header {
    background-color: #d9bebd;
}

h1 {
    font-size: 5rem;
    margin-left: 2%;
    box-sizing: border-box; 
    padding: 2%;  
}

nav {
    display: flex;
    width: 22%; 
    padding-bottom: 2%; 
    padding-left: 6%;  
}

nav a{ 
    text-decoration: none;
    border: 2px black solid; 
    border-radius: 1%;
    text-align: center; 
    font-size: 2rem;
    padding: 5% 10%; 
}

/* TOP PROFILE SECTION */

.main {
    display: flex; 
    margin: 2%; 
    align-content: flex-end;
}

.main-left {
    width: 50%; 
    height: 50%; 
    margin: 0 auto;
    display: flex; 
}

.main-right {
    width: 40%; 
    padding-top: 10%; 
    padding-right: 5%; 
    display:flex; 
    flex-direction: column-reverse; 
}

h2 {
    font-size: 2.5rem; 
}

/* project preview section */

section .project-previews {
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
    justify-content: space-evenly;
    align-content: flex-start;
}

.project-previews img {
    width: 23%; 
    height: 30vh; 
    margin-bottom: 2%; 
}

/* FOOTER */

footer {
    margin: 0; 
    background-color:  #d9bebd; 
    padding: 7% 40%; 
}

.footer-container {
    margin: 0 auto; 
    display: flex; 
    flex-wrap: wrap; 
}

.footer-text {
    font-size: 2em; 
    margin: 2% auto; 
}

/* BUTTONS */
button.footer-button {
    display: flex; 
    margin: 2% auto; 
    padding: 5% 10%;    
    font-size: 1.2em;  
}

button.my-projects {
    padding: 2% 5%;    
    font-size: 1.2em;  
}