/* Add CSS styling here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*General Styles/ Probably the best thing i've learn today
make all the notes you need inside the things */
/* my three fonts to format with:
font-family: 'Comfortaa', cursive;
font-family: 'Staatliches', cursive;
font-family: 'Ubuntu', sans-serif;
*/

/*
Color Palette: found some random colour pallet generater. reference them here so you dont have to tab out! 
Periwinkle Crayola: #C9DDFF
Orchid Crayola: #ECB0E1
Blush: #DE6C83
Lilac Luster: #C1AAC0
Seagreen Crayola: #2CF6B3
Maya Blue: #6CBEED
*/

*{
    box-sizing:border-box;
    max-width:100%;
    /*border:1px solid black;*/
}

html{
    font-size:62.5%;
}

body{
    font-size:2rem;
    font-family: 'Staatliches', cursive;
    font-stretch: semi-expanded;
    line-height:1.5;
    background-color: #C9DDFF;
    display:flex;
    color:#DE6C83;
    flex-direction: column;

}
h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
    font-size:6.5rem;
}
section{
    padding:0%;
    margin:0% auto;
}
a{
    text-decoration:none;/* questioning if this is needed*/
}
p{
    font-size:2.2rem;
}

/* header/ navbar styles/ go take outside */
.headerContainer{
    width:100%;
    height:20vh;
    display:flex;
    flex-direction: column;
}
.headerContainer div{
    margin:0% 2%;
}
h1:hover{
    color:black;
    transition:1.5s;
}
.navbar{
    width:50%;
    display:flex;
    justify-content: space-between;
    margin:0 8%; /*i realized that the width of the navbar is smaller than the total size of header.container. moving margin to left or right will scoot it over. same top & bottom*/
    padding:0%;/**/
    color: white;
}
.navbar a:hover{
    color:#6CBEED;
    background-color: #DE6C83;
    text-transform: 1.5s;
}
/* this little bit of .links gave me fits! i thought 'button instead of class would be so mean. learn to disable code and mark it up. throw borders anywhere to see the code. WTF padding TOP RIGHT BOTTOM LEFT*/

.links{
    padding:0% 5% 0% 5%; /* theres the short version of 'w & h' but i needed to figit with the boundaries*/
    margin:0%;
    border:1px solid grey;
    color:#DE6C83;
    display: flex;
    justify-content: stretch;/* not sure whats happening here, i want the text to strecth the font closer to its boundaries*/
    font-size: 2.6rem;

}
/* storage for code/ things that need testing: 

.navbar div{
    width:50%;
    height:0%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;   
}
.links{
    font-stretch: ultra-expanded;
    width:50%;
    height:0%;
    display:flex;
    justify-content: space-evenly;
    align-items: center; 
}
*/


/*top section styles/ do some push ups*/
.topsection{
    width:95%;
    height:50%;
}
.mainbody{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin:0%;
    border:5px solid black;
}
.topimage{
    width:40%;
    height:40%;
    display: flex;
    align-content: center;
   
}
.textbody{
    display:flexbox;
    margin:2% auto;
    flex-direction: column;
    justify-content: space-evenly;
    vertical-align: middle;
    border: 3px solid black;
    text-align: center;
}
.buttonPro{
    border-radius:3%;
    width:10vw; /* spend the last three days using wh as vw... cool beans, thats why you'll see % on most width css */
    height:7vh;
    font-size:4rem;
    color:black;
    background-color: #DE6C83;
    display:flex;
    justify-content: center;
    border: 3 px solid black;
    margin:10% auto;
}
.buttonPro:hover{
    background-color:#6CBEED;
    color:#DE6C83;
    transition:1.5s;
}

/*img box styles/ also drink some water*/

.gallery{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    height:60%;
}
.gallery div{
    display:inline-block;
    margin:4% 0;
    
}
    
.gallery p{
    display:flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

/* this is cool targeting individually or as a group, but i found out gallery div did the exact same thing... cool story bro!
.box1 img, .box2 img, .box3 img, .box4 img, .box5 img, .box6 img, .box7 img, .box7 img, .box8 img{
    border: 1px solid red;<<<<------- this random border helped finding what the things were doing
}
*/
/*footer styles/ go pee and eat a snack*/
footer{
    background:#ECB0E1;
    color:black;
    height:20vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-content: center;
}
.bottompage{
    display:inline;
}
.contact{
    border-radius:50%;
    background-color:#ECB0E1;
    color:black;
    font-weight: bold;
    font-size: 3rem;
    margin:auto;
    padding:3% 3%;/* even now i forget what goes in which order width height */
    display:flex;
}
.contact:hover{
    background-color:black;
    color:#6CBEED;
    transition: 1.5s;
    border: 2px solid#6CBEED ;
}