html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    max-width:100%;
    /*border:1px solid mistyrose;*/
}
/*General Styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.8rem;
    color:#4f4f4f;
    line-height:1.5;
    font-family: 'PT Sans', sans-serif;
    background-color:#FFFAFA;
}
header{
    background-color: mistyrose;
    padding: 0.5%; 
}
.nav{
    background-color: #FFFAFA;
    padding: 0.25% 1.5%;
    border:1px solid #4f4f4f;
}
h1, h2, h3{
    font-family: 'Nunito', sans-serif;
    text-align:center;
}
h1{
    font-size:5rem;
    display: flex;
}
h2{
    font-size:3.5rem;
}
h3{
    font-size:3rem;
}
section{
    /*padding:4% 0;*/
}
a{
    text-decoration:none;
    color:#4f4f4f;
}
.top{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    max-width:100%;
}
.left{
    width: 45%;
}
.right{
    width: 45%;   
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}
.projects{
    background-color: mistyrose;
    font-size: 2.2rem;
    margin: 2%;
    padding: 1%;
}
.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
}
.pic{
    margin: 2.5%;
}
footer{
    background-color: mistyrose;
}
.contacts{
    font-size: 2rem;
    display: flex;
    justify-content: center;
}