/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* Add CSS styling here */
.upper-container{
  background-color: gray;
}

nav {
  /* display: flex; 
  justify-content: space-between;   */
  width:40%;
  margin-bottom: 1rem;
  display:flex;
  justify-content: flex-start;
}

nav a {
  /* padding: .1rem; */
  /* width: 4.5rem; */
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  border: 2px solid black;
  background-color: darkgrey;
  color: white;
  box-sizing:content-box;
  width: 20%;
  padding: .5rem;
  border-radius: 1rem;
  
  
}

.home-button{
background: black;
color: white;
}

.name{
  font-size: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.upper{
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  margin-top: 3rem;
  height: auto;
  width: 100%;
}

.upper img{
  height: 100%;
  width: 30rem;
}

.about-me{
  width: 50%;
}

.about-me p{
  margin-bottom: 5.6rem;
  background-color: grey;
  border-radius: 1rem;
  color: white;
}

.middle-boxes {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;

}

.middle-boxes img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 2rem;
    /* max-width: 50%;
     */
     height: 20rem;
     width: 20rem;
      }

.projects a{
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  border: 2px solid black;
  background-color: darkgrey;
  color: white;
  width: 20%;
  padding: .5rem;
  border-radius: 1rem;
  
}

h1{
  margin-bottom: 2rem;
}
.projects{
  margin-bottom: 2rem;
}


.footer-button{
  text-align: center;
  margin-top: 3rem;
  background-color: lightgray;
  padding-bottom: 1rem;
}

.footer-button a{
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  border: 2px solid black;
  background-color: darkgrey;
  color: white;
  padding: .5rem;
  border-radius: 1rem;
  
}

.footer-button p{
  margin-bottom: 3rem;
}



