/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******RESET ABOVE THIS POINT *******/

html {
  font-size: 10px;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;

}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
header {
  width: 80%;
  margin: 0 auto;
}
header h1 {
  font-size: 5rem;
  text-align: center;
  margin-top: 3rem;
  font-family: 'Alegreya', serif;
}
header nav {
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 60rem;
}
header nav a {
  padding: 1.5rem 3rem;
  border: 1px solid black;
  text-decoration: none;
  margin: 1% 0;
  font-size: 1.5rem;
  color: black;
}
header nav a:hover {
  background: #d32847;
  color: white;
  border: #d32847;
}
header h2 {
  font-size: 4rem;
  text-align: center;
}
section.intro p {
  font-size: 2.5rem;
  margin: 3%;
  text-align: center;
}
.main-img {
  width: 95%;
  margin: 1% auto 2% auto;
}
.main-img img {
  width: 100%;
}
#preview {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 1% auto;
}
.preview-left {
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.preview-right {
  width: 25%;
  font-size: 2.5rem;
  text-align: left;
  line-height: 2;
  color: #d32847;
}
.preview-img {
  height: 50vw;
  overflow: hidden;
  display: inline-block;
  height: 100%;
  border-right: .3rem solid white;
  transition-duration: 1s;
  opacity: .7;
  width: 20%;
  min-width: 1rem;

}

footer{ 
  width: 100%;
  padding: 3rem 0;
  border-top: 1px solid black;
  text-align: center;
}
#contact {
  padding: 1.5rem 3rem;
  border: 1px solid black;
  text-decoration: none;
  margin: 0 auto;
  font-size: 1.5rem;
  color: black;
  text-align: center;
}
#contact:hover {
  background: #d32847;
  color: white;
  border: #d32847;
}

/* MOBILE STYLES */

@media (max-width: 800px) {
  

  header h1 {
    font-size: 4rem;
    margin-top: 2.5rem;
  }
  header nav {
    margin: 3rem auto;
  }
  header nav a {
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
    color: #d32847;
  }
  header h2 {
    font-size: 3rem;
  }
  section.intro p {
    font-size: 2rem;
    margin: 5%;
  }
  .main-img img {
    width: 100%;
  }
  #preview {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto 1% auto;
  }
  .preview-left {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly
  }
  .preview-right {
    font-size: 2.5rem;
    text-align: center;
    line-height: 2;
    width: 50%;
  }
  .preview-img {
    border-right: none;
    opacity: 1;
    width: 46%;
    margin-bottom: 2%;
  }
  .footer-content{
    width: 50%;
    min-width: 30rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
  }
  footer{ 
    padding: 3rem 0;
    border-top: 1px solid black;
  }
  #contact {
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.25rem;
    background: #d32847;
    border: #d32847;
    color: white;
  }
} /*End of 800px max-width styles*/

/* 500px width */

@media (max-width: 500px) {
  

  header h1 {
    font-size: 4rem;
    margin-top: 2rem;
  }
  header nav {
    margin: 5% auto;
    flex-direction: column;
    align-items: center;
  }
  header nav a {
    width: 35%;
    text-align: center;
  }
  header h2 {
    font-size: 2.5rem;
  }
  section.intro p {
    font-size: 1.6rem;
  }
  #preview {
    width: 95%;
  }
  .preview-left {
    justify-content: space-between;
  }
  .preview-right {
    font-size: 1.8rem;
    line-height: 1.5;
  }
  .preview-img {
    width: 48%;
    margin-bottom: 2%;
  }
  .preview-text {
    padding-bottom: 2%;
  }
  footer{ 
    padding: 3rem 0;
    border-top: 1px solid black;
  }
} /*End of 500px max-width styles*/


/*Hover styles that will only happen on 900px and above*/
@media (min-width: 801px) {
  .preview-img:hover ~ .preview-img {
    width: 5%;
  }
  .preview-img:hover {
    width: 70%;
    opacity: 1;
  }
  .preview-img:hover ~ .preview-text{
    display: none;
    transition-duration: 1s;
    transition-delay: 1s
  }
  .preview-img:hover ~ .close{
    display: inline-block;
    transition-duration: 1s;
    transition-delay: 1s
  }

}