* {
  background-color: #bcece0;
  font-family: "Suranna";
  font-size: 1.05em;
  color: #4c5270;
}
a {
}

header h1 {
  margin-left: 1em;
  font-family: "Chakra Petch";
  font-size: 3em;
}
h2 {
  font-size: larger;
}

nav.primary-nav {
  margin-left: 6em;
  display: flex;
}
nav.primary-nav a {
  border: 1px solid black;
  padding: 0.5em;
  color: whitesmoke;
  background-color: #4c5270;
}
@keyframes hover-effect {
  from {
    color: whitesmoke;
    background-color: #4c5270;
  }
  to {
    color: #f652a0;
    background-color: #36eee0;
  }
}

nav.primary-nav a:hover {
  color: #f652a0;
  background-color: #36eee0;
  animation: hover-effect 0.25s ease-in;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  margin-left: 1em;
  border-radius: 3px;
}
.gallery-item p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2em;
}

.hero-banner {
  display: flex;
  margin-top: 3em;
  margin-left: 1em;
  margin-bottom: 2em;
  p {
    line-height: calc(1em-8px);
  }
}

.hero-banner img {
  //   height: 200px;
  //   width: 200px;
  border-radius: 3px;
}

.left-sidebar {
  margin-left: 1em;
}
