body {
    box-sizing: border-box;
    border: 10px ridge #cc3300;
    font-size: 125%;
    margin: 0.5em;
    background:#b3d0ff;
}

header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background: #96b0d9;
}

header h1 {
    text-align: left;
    font-size: 2.5em;
    margin: 0.05em 0.25em;
}

header nav {
    text-align: left;
    margin: 0.75em;
}

header nav a {
    border-radius: 0.75em;
    background: #00b300;
    padding: .5em;
}

header nav a:hover {
    background: #009900;
}

section {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    background: #798eaf;
    margin: 0.5em;
}

section img {
    margin: 0.25em;
}

section div {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50%;
    margin: 0.5em;
}

section div h2 {
    font-size: 1.25em;
}

section div button {
    box-sizing: border-box;
    width: ;
}

section div p {
    width: 50%;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0.5em;
    background: #798eaf;
}

.gallery img {
    margin: 0.25em;
}

footer {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: #96b0d9;
}

footer p {
    margin: 5px 0px;
}

footer button {
    margin: 0px 0px 5px;
}

button {
    box-sizing: border-box;
    padding: 2px;
    border-radius: 25%;
    background: #006600;
}

a {
    text-decoration: none;
    color: black;
}