/* Add CSS styling here */
* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    border:1px solid grey;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #0b0c10;
}
/*==============================================================*/

nav {
    display:flex;
    justify-content:space-between;
    padding:2% 5%;
    align-items: center;
}

nav h1 {
    font-size: 3rem;
    color: #c5c6c7;
}

.navButtons {
        padding: 15px 32px;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        align-content: center;
        border-radius: 5px;
        color: #45A29E;
        border: 2px solid #45a29e;
        transition: 2s;
        background-color: #0b0c10;
}

.navButtons:hover {
    background-color: #45a29e;
    color: #0b0c10;
    border: 2px solid #0b0c10;
}




/*==============================================================*/
section h2 {
    font-size: 6rem;
    color: #c5c6c7;
    margin-top: 50%;
    margin-bottom: 10%;
}

.ctaImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
}

.ctaButton {

}
.ctaMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
}
.ctaLink {
    padding: 15px 45px;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    align-content: center;
    border-radius: 5px;
    color: #45A29E;
    border: 2px solid #45a29e;
    transition: 2s;
    background-color: #0b0c10;
}

.ctaLink:hover {
    background-color: #45a29e;
    color: #0b0c10;
    border: 2px solid #0b0c10;
}

/*==============================================================*/

.imgRow {
    display: flex;
    justify-content: space-between;
}

/*==============================================================*/

footer {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;  
}