/*CSS Style Reset Snipet*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* @media queries */

@media only screen and (max-width: 450px)
{
   main {
     flex-flow: column wrap;	
}
   .column1 {
     width: 95%;
     height: auto;
     margin: 0 auto;
}
   .column2 {
     width: 90%;
     min-width: 95%;
     height: auto;
     margin: 0 auto;
}
   .flex-container {
     flex-direction: column;
	}
}

@media only screen and (max-width: 1000px)
{
	  main {
     flex-flow: column wrap;	
}
   .column1 {
     max-width: 95%;
     max-height: 60%;
     display: flex;
     flex-direction: column;
     margin: 0 auto;
}
   .column2 {
     width: 90%;
     min-width: 95%%;
     height: auto;
     margin: 0 auto;
}
}
body {
  font-family: 'Quattrocento Sans', sans-serif;
}
  
/* containers */
.flex-container {
  display: flex;
  justify-content: center;
  max-width: 99%;
  margin: 20px auto;
  padding: 20px 20px; 
  color: white;
}

.div-cascade-box {
  width: 100%;
  height: 100%;
  background: #59a2e5;
  margin-bottom: 30px;
  opacity: 0.8;
  border: 10px solid white;
  display: flex;
  justify-content: center;
}

.column1 {
 width: 57%;
 min-height: 600px;
 margin-top: 10px;
 display: flex;
}

.column2 {
  width: 35%;
  border: 0px solid white;
  background: #333;
  font-size: 26px;
  color: #FFF;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* element items */

h1, h2, p {
  text-align: center;
}

h1 {
  font-family: Rock Salt;
  font-size: 72px;
  text-shadow: 3px 2px #000;
  color: white;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

h2 {
  font-size: 52px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #333;
  opacity: 0.8;
  color: white;
  border: 10px solid white;
}

section img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

header {
  display: flex;
  align-content: center;
}

section {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-flow: row wrap;
}

footer {
  display: flex;
  margin: 75px auto;
  max-width: 100%;
  height: 150px;
  background: #59a2e5;
  opacity: 0.8;
  border: 10px solid white;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Media */

img.project1 {
 width: 200px;
 height: 100%;

}

img.project2 {
  width: 200px;
  height: 100%;
 
}

img.project3 {
  width: 200px;
  height: 100%;
} 

img.project4  {
  width: 200px;
  height: 100%;
  }

/* direct styling */

nav a {
  display: flex;
  text-decoration: none;
  color: #EEE;
  background: linear-gradient(
  0deg,
  #444,
  #222,
  #444);
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 25px 50px;
  border: 7px solid white;
  font-size: 20px;
}



