/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
  border:1px solid;}
.navigation{
  display: flex; flex-flow: column;
  padding: 20px;
  background-color:#808080 ;}
  h1  {

  color: white;
  font-weight: 800;
  margin: 30px;
  /*=======  Update the font size to 60px and center the text */
  font-size: 30px;
  text-align: left;
}
nav a{
  margin: 20px;
  border: 1px solid lightgray;
  padding: 10px;
  display: inline-block;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  background:black; inline-space: 16px;}
  nav a:hover{ 
  background-color: #4B0082;}
  .container1{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    background-color: #DCDCDC;
    padding: 10px;}
    h2{
      border: solid;
      padding: 10px;
      content: 16px;
      margin: 10px;
     font-size: 15px;
      font-family: roboto;
      font-weight: bold;}
      div.my-info{
        border: solid;
         display: flex;
         flex-direction:column;
         align-items: center;
         margin: 50px;
        }
        img{
          height:300px;
          width:400px;}
          button{
          padding: 10px;
          background-color: #4B0082;
          color: white;}
          button:hover{
          color:white; 
          background-color: #301934;}
          p{
          padding: 10px;
          line-height: 1.6;
          border:solid;}
          .projects{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;}
          img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
          }
