@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Header design */
*{
    color: #6d6a6a;
    font-family: 'Courier New', Courier, monospace;
    
}

header{
background-color: peru;
width: 100%;
}

header h1{
    font-size: 2.1rem;
    padding: 2% 5%;
    font-family: 'Architects Daughter', cursive;
    color: whitesmoke;
    text-shadow: 1px 1px black;
}

.nav-container{
display: flex;
margin-left: 7%;
height: 10vh;
align-items: center;
padding-bottom: 1%;
}

a{
    text-decoration: none;
}

.nav-container a{
   display: block;
   padding: 2%;
   color: grey;
   font-size: 1.1rem;
   text-shadow: 0.5px 0.5px black;
   background-color: honeydew;
   border: 0.5px solid peru;
   border-radius: 5%;
   transition: .3s;
}

.nav-container a:nth-of-type(1){
    background-color:brown;
    color: white; 
}
.nav-container a:hover
{
 background-color:rgb(243, 221, 150);
 color: rgb(75, 59, 48);
 transform:scale(1.1) ; 
}


/* first section design */
.sec1{
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    justify-content: space-between;
    margin: 2%;
}
.sec1 img{
    width: 100%; 
    height: 100%; 
    box-shadow: 1px 1px peru;
}
.sec1 div{
    width: 46.5%;
    height: 40vh;
}
.sec1div{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sec1div h3{
    font-size: 1.8rem;
    color: #e0c3a2;
    text-shadow:1px 1px grey;
    font-family: 'Architects Daughter', cursive ;
    line-height: 2;
}
.sec1div a{
    display: block;
    padding: 2.5%;
    margin:2% 0; 
    width: 40%;
    font-size: 1.2em;
    border: 0.5px solid peru;
    border-radius: 10%;
    box-shadow: 1px 2px grey;
    text-align: center;
    color: grey;
    text-shadow: 0.1px 0.1px black;
    transition: .3s;

}
.sec1div a:hover{
 background-color:rgb(243, 221, 150);
 color: rgb(75, 59, 48);
 transform:scale(1.05) ;
}
.sec1div p{
  height: 80%;
  margin: 3% 0; 
  font-size: 1.2rem;
  font-family: 'Architects Daughter', cursive;
  letter-spacing: 1px;
  box-sizing: border-box;
}
/* second section */
.sec2{
    display:flex;
    width: 96%;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 2%;
}

.sec2 .item{
    width: 20%;
    margin-bottom: 5%;
    border: 1px solid peru;
}
.item img{
    width: 100%;
    height: 80%;
}
.item p{
    margin-top: 5%;
    text-align: center;
}
footer
{
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    background-color: brown;
    text-align: center;
    padding:4% 0;
}
footer p{
font-size: 1.6rem;
color: white;
margin-bottom: 4%;
font-family:'Architects Daughter', cursive;
}

footer a{
    border: 1px solid grey;
    padding:1% 3%;
    width: 10%;
    color: white;
    font-size: 1.2rem;
    transition: .3s;
}
footer a:hover{
    background-color:grey;
    transform:scale(1.05) ;
}
footer a:nth-of-type(2){
    background:#3b5998;
}
footer a i{
    color: white;
}
 footer a:nth-of-type(2):hover{
    background-color: grey;
} 