/* myers css reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 

/* My CSS */

* {
	box-sizing: border-box;
 } 
 html {
	font-size: 62.5%;
 }
h1 {
	color: blue;
	margin: 2%; 
	font-size: 4em;
}
nav a {
	display: inline-flex;
	flex-direction: row;
	flex-grow: initial;
	margin: 2% auto;
	background-color: silver;
	margin: 2%;
	padding: 2%;
	font-size: 2.5rem;
	color: orangered; 
	margin: 2% auto;
}
 body {
	margin: 2%;
	padding: 4%;
	background-color: silver;
}

img {
  width: 50%;
  display:flex;
  margin: 2%;
	padding: 4%;
	background-color: white;
  
}

.container {
  display: flex-wrap;
  
  width: auto;
  justify-content: center;
  border-style: solid;
  border-width: 3px;
}

section  h2 { color: darkblue;
  display: inline-flex;
  justify-content: space-between;
}


@media(max-width: 800px){
  .container {
	 padding: 20px;
  }  
  

  

}