header {
    background-color: lightgray;
    padding: 10px;
    border: 2px solid black;
}

#Home {
    border: 2px solid black;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    text-decoration: none;
    background-color: white;
}

#Home:hover {
    color: white;
    background-color: black;
}

#About {
    border: 2px solid black;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    text-decoration: none;
    background-color: white;
}

#About:hover {
    color: white;
    background-color: black;
}

#Contact {
    border: 2px solid black;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    text-decoration: none;
    background-color: white;
}

#Contact:hover {
    color: white;
    background-color: black;
}

#Projects {
    border: 2px solid black;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    text-decoration: none;
    background-color: white;
}

#Projects:hover {
    color: white;
    background-color: black;
}

.container {
    display: flex;
    margin-left: 20px;
}

#mainButton {
    padding: 5px
}

.Main #mainImage {
    float: left;
    padding: 10px;
    height: 400px;
    width: 700px;
}

.mainText {
    padding: 150px;
}


#mainImage {
    width: 325px;
    height: 250px;
}

.parent img {
    width: 23%;
    height: 23%;
    padding: 6px;
    padding-bottom: 50px;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer {
    background-color: lightgray;
    text-align: center;
    padding: 25px;
}

#footerButton {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}





