/* Add CSS styling here */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* After CSS reset  */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  border: 1px solid grey;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #4f4f4f;
  /* font-family: 'Roboto Mono', Arial, sans-serif; */
}

h1 {
  font-size: 5rem;
  /* text-align: center; */
}

nav {
  /* padding: 2% 0; */
  display: flex;
  margin-bottom: 2%;
}

nav a {
  display: inline-block;
  padding: 0.5% 0;
  width: 25%;
  /* border-radius: 10px; */
  text-align: center;
  color: red;
  border: 2px solid red;
}

.first-section {
  display: flex;
  margin: 0 6%;
  /* justify-content: center; */
}

.first-section img {
  width: 25%;
  border-radius: 50%;
  margin-right: 5%;
}

.first-section div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.first-section a {
  padding: 0.5% 0;
  width: 25%;
  border-radius: 5px;
  text-align: center;
  border: 0.1rem solid red;
  color: red;
}

.first-section div p {
  /* width: 60%; */
  font-size: 2.5rem;
}

h2 {
  font-size: 3.5rem;
}

.second-section h2 {
  padding: 2%;
  text-align: center;
}

.second-section ul {
  display: flex;
  justify-content: center;
}
.second-section li {
  padding: 0.5% 1%;
  margin: 0 1%;
  border-radius: 5px;
  text-align: center;
  border: 0.1rem solid red;
  color: red;
}

footer {
  margin: 3%;
  text-align: center;
}

footer a {
  padding: 0.5% 1%;
  border-radius: 5px;
  text-align: center;
  border: 0.1rem solid red;
  color: red;
}
