/* Add CSS styling here */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

* {
    box-sizing: border-box;
    font-family: futura;
    color: #eeeeee;
}

h1, h2 {
    text-align: center;
}

body {
    display: flex;
    flex-flow: column;
    background-color: #222831;
}

.container nav {
    display: flex;
    justify-content: center;
}

.container nav a {
    padding: 1rem 2rem;
    color: #393e46;
    text-decoration: none;
    background-color: white;
    box-shadow: 3px 3px 5px #222831;
}

.container nav .active {
    background-color: #393e46;
    color: white;
}

.container nav .active:hover {
    background-color: white;
    color: #393e46;
}

.container nav a:hover {
    background-color: #393e46;
    color: white;
}

.container2 p {
    text-align: left;
    margin: 0 auto;
    width: 90%;
}

section {
    margin: 2.5rem;
}

.main-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.picsum.photos/id/1033/2048/1365.jpg?hmac=zEuPfX7t6U866nzXjWF41bf-uxkKOnf1dDrHXmhcK-Q");
    height: 50vh;
}

.about-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.picsum.photos/id/1042/3456/5184.jpg?hmac=5xr8Veg2D_kEQQO6rvGj_Yk8s_N4iq3-eZ9_KclSXNQ");
    height: 50vh;
}

.gallery {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.gallery-image {
    height: 60vh;
    width: 20%;
    background-position: center;
    background-size: cover;
    background-image: url("https://i.picsum.photos/id/122/4147/2756.jpg?hmac=-B_1uAvYufznhjeA9xSSAJjqt07XrVzDWCf5VDNX0pQ");
}

.gallery-image:nth-child(2) {
    background-image: url("https://i.picsum.photos/id/190/2048/1365.jpg?hmac=NWS1_X_JJ-Edi-9SZRhNwHyjKt1nECckxrGLS8_idjY");
}

.gallery-image:nth-child(3) {
    background-image: url("https://i.picsum.photos/id/227/1024/683.jpg?hmac=63Bm3-6abEba_BO4lpAKdrnmSL04wZpwK17xue1mCXw");
}

.gallery-image:nth-child(4) {
    background-image: url("https://i.picsum.photos/id/250/4928/3264.jpg?hmac=4oIwzXlpK4KU3wySTnATICCa4H6xwbSGifrxv7GafWU");
}

.gallery p {
    width: 15%;
    text-align: center;
    padding-top: 5rem;
}

.container2 .about-content {
    margin-bottom: 3rem;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
    height: 20vh;
}

footer a {
    margin: 2.5rem;
    padding: 1.25rem 2rem;
    border: 1px solid black;
    text-decoration: none;
    color: #393e46;
}

footer a:hover {
    background-color: #393e46;
    color: white;
}

@media only screen and (max-width: 500px) {
    .container nav {
        flex-direction: column;
        text-align: center;
    }

    .main-image {
        width: 90%;
        height: 300px;
    }

    .gallery {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .gallery-image {
        width: 47%;
        margin-bottom: 1rem;
    }

    .gallery p {
        padding-top: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .container nav {
        flex-direction: column;
        text-align: center;
    }

    .main-image {
        width: 90%;
        height: 300px;
    }

    .gallery {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .gallery-image {
        width: 47%;
        margin-bottom: 1rem;
    }

    .gallery p {
        padding-top: 0;
        width: 100%;
    }
}