/* Add CSS styling here */
body {
    margin: 0;
}

footer {
    width: 100%;
    padding: 80px 0;
    background-color: lightgrey;

}
.navbar {
    background-color: lightgrey;
    padding: 30px 40px;
}

.navbar__links {
    display: flex;
    flex-direction: row;
}

.navbar__link {
    padding: 5px 10px;
    border: 1px solid black;
    background-color: white;
    color: black;
    transition: background-color 0.3s;
    transition: color 0.3s;
    text-decoration: none;
}
.navbar__link:hover {
    background-color: black;
    color: white;
}

.container {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
}
.main-project {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

.main-project__info {
    margin: 16px;
    max-width: 500px
}

.main-project__image {
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    height: 400px;
}

.main-project__name {
    text-transform: uppercase;
}

.project-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 16px;
}

.project-image {
    width: 250px;
    height: 250px;
}

.project-list__item {
    margin: 14px;
    flex-basis: 12%;
}

.project-name {
    text-align: center;
}

.footer__info {
    text-align: center;
}

@media (max-width: 800px) {
    .project-image {
        width: 200px;
        height: 200px;
    }
    .project-list__item {
        flex-basis: 50% 50%;
    }
}

@media (max-width: 500px) {
    .navbar__name {
        text-align: center;
    }
    .navbar__links {
        flex-direction: column;
        text-align: center;
    }
    .main-project__info {
        text-align: center;
    }
    .project-image {
        width: 175px;
        height: 175px;
    }
    .main-project {
       flex-direction: column;
    }
}
