/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
}/* Add CSS styling here */
*{
    box-sizing:border-box;
    max-width:100%; /*you can never be bigger than your parent - this is going to stop that dreaded horizontal scroll bar*/
    border:1px solid grey;/*border:1px black solid;*/
    text-align:center;
    font-family: 'Caveat', cursive;
}
html{
    font-family: 'Caveat', cursive;
}
h1 {
    font-size:4.2rem;
    font-weight:bolder;
    text-shadow:2px 2px violet;
}
.htwo{
    font-size:3.2rem;
    font-weight:bold;
    text-shadow:2px 2px violet;
}
.nav{
    font-size:2rem;
}
#head{
    width:100%;
    height:5rem;
    padding:1.6rem 0;
    


}
.hone .nav {
   margin:2%;
}
.nav a{
    margin:2%;
    padding:2px 15px;
    text-decoration: none;
    background-color: darkslateblue;
    color:violet;
    border-radius:10px;
}
.nav a:hover{
    background-color:violet;
    color:darkslateblue;
    transition:.3s;
}
.htwo {
    margin-top:8%;
    padding:1rem;
}
.pone{
    height:10rem;
    padding:2rem;
    font-size:2rem;
    display:flex;
    justify-content: center;
}
.ptwo{
    width:70%;
   
}
.butone{
    width:100%;
    height:17rem;
    background:url(https://image.freepik.com/free-vector/ultra-wide-wallpaper-abstract-topographic-background_87538-1076.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.butone{
    display:flex;
    justify-content:center;
    align-items:center;
}
.lowbod {
    padding:1.6rem;
    font-size:1.6rem;
    display:flex;
    justify-content:center;
    justify-content:space-evenly;
    align-items:center;
}
.lowbod img{
    margin:2%;
    width:10rem;
    height:15rem;
}
footer{
    height:6rem;
    background-color: indigo;
    display:flex;
    justify-content: center;
    align-items:center;
}
button{
    width:12rem;
    height:2rem;
    background-color:violet;
    border:2px solid green;
    border-radius:10px;
}

@media(max-width:800px){
    .hone .nav {
        margin:5%;
        
    }
    .htwo{
       margin-top:15%;
   }
   .ptwo {
       font-size:1.5rem;
   }
   .bottom {
       display:flex;
       justify-content:center;
   }
   .lowbod {
       width:100%;
       display:flex;
       flex-wrap: nowrap;
       justify-content:space-around;
   }
   .lowbod img {
       width:17%;
   }
}

@media(max-width:500px){
    h1 {
        font-size:2.5rem;
    }
    .nav {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav a {
        font-size:1.2rem;
        width:20%;
        display:flex;
        flex-direction: column;
    }
    .htwo{
        margin-top: 36%;
        font-size:1.8rem;
    }
    .pone {
        height: 7rem;
    }
    .ptwo {
        height:6rem;
        margin-top:-5%;
        font-size:1.2rem;
    }
    .butone {
        height:6rem;
    }
    .lowbod {
        width:98%;
        font-size:1.2rem;
        
        display:flex;
        flex-wrap: wrap;
    }
    .lowbod img {
        width:40%;
        margin:4%;
    }
    .lowerbod {
        margin-top:2%;
    }
}