/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /* border:1px solid grey;  */
}

html{
    font-size:62.5%;
}
header{
    display:flex;
    justify-content: center;
    flex-flow: column;
}
body{
    font-size:1.8rem;
    line-height:1.5;
    color:#4f4f4f;
    background-color:#FBFFFB;
    font-family: 'Source Sans Pro', sans-serif;
}
.top{
    text-align: center;
    font-weight: bold;
}
.buttons{
    text-align: center;
    background-color:white;
    }
.projects{
    display:flex;
    justify-content:center;
  
    
    
}
.projects div{
    justify-content: space-around;
    padding: 1% 1%;
}
.projects p{
    margin-top: 18rem;
    

}
footer{
    text-align: center;
    margin:2% 4%;
    }

    .main img{
        height:75rem;
        width:300rem;
        margin-bottom:2%;
        margin-top:2%;
    }
@media(max-width:800px){

.top button{
    display:flex;
    flex-flow: column;
    width: 10rem;
    margin:0 40%;
    padding: 3%;
      
}
.top p{
    padding: 8%;
}
.top h1{
    padding: 7%;
    font-size: 3.5rem;
}
.projects{
    display: flex;
    flex-flow: column;
}
}