/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html{
    font-size: 62.5%;
    width: 80vw;
    margin:0 auto;
}
.container{
    background: white;
    
}
#me-img{
    max-width: 100vw;
}
.img-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
img{
    max-width: 100vw;
    padding:  1rem;
    margin: 1rem;
    border: 1px solid lightgrey;
}
img:hover{
cursor: pointer;
}
header{
    background: #588B8B;
    max-width: 100vw;
}
header nav{
    padding: 1rem;
}
header h1{
    padding: 1rem;
    margin-bottom: 1rem;;
    font-size: 260%;
}
header nav a{
    font-size: 180%;
    text-decoration: none;
    color: rgb(72, 86, 100);
    text-align: center;
    background: #FFD5C2;
    border: 1px solid rgb(72, 86, 100);
    
}
.nav-a{
    padding: 0.5rem;
}
.nav-a:hover{
        transform: scale(2);
    }

header nav{
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.align-text{
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}
#align{
    padding: 2rem;
    margin: 1rem;
}
.first-section h2{
   font-weight: bold; 
}
.first-section p{
    width: 30vw;
    text-align: center;  
}

#button{
    text-decoration: none;
    color: rgb(72, 86, 100);
    font-size: 80%;
    padding: 1rem;
}
#button:hover{
    color: #588B8B;
}
#me-img{
    width: 200px;
    height: 200px;  
}
.about{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.about h1{
    
    padding: 2rem;
    margin:2rem;
    font-size: 260%;
}
.about p{
    padding: 2rem;
    font-size: 200%;   
}
.project{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 60vh;
}
.project h1{
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    font-size: 260%;
}
.project p{
    padding: 1rem;
    font-size: 200%;
}
#name{
    font-family: 'Lexend Tera', sans-serif;
}

footer{
    font-family: 'Raleway', sans-serif;
    background: #FFD5C2;
    font-size: 200%;
    text-align: center;
    max-width: 100vw;
    padding: 1rem;
}
.info h3{
    padding: 1rem;  
}
#info{
    text-decoration: none;
    color:#588B8B;
}
#info:hover{
    color: rgb(72, 86, 100);
}
.contact-form{
    font-family: 'Raleway', sans-serif;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 39vh;
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: space-between;   
}
textarea{
    width: 100%;
}
.form p{
    padding: 2rem;
    margin:2rem;
    font-size: 200%;
    font-family: 'Raleway', sans-serif;
}
#send{
    width:10rem;
    background: #FFD5C2
}
#contact{
    max-width: 100vw;
}
#contact h2{
    padding: 2rem;
}
.white-space{
    display: none;
}
@media(max-width: 800px){
    .first-section p{
        width: 35vw; 
    }
}
@media(max-width: 500px){
    .img-section{
        flex-direction: column;
        justify-content: space-between;
        align-items: space-between;
    }
    .align-text{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .contact-form{
        width: 50%;
    }
    
    textarea{
        width: 100%;
    }
    #button{
        display: none;
    }
    .white-space{
        font-family: 'Raleway', sans-serif;
        font-size: 160%;
        padding: 2rem;
        display: block;
        text-align: center;
    }
    .white-space a{
        text-decoration: none;
        color: #588B8B;
        
    }
    .white-space a:hover{
        color: red;
        transform: scale(2);
    }
    .first-section p{
        width: 60vw;
        
    }
    .display{
        display: none;
    }
}
@media(max-width: 360px){
    header nav{
        flex-flow: column wrap;
    }
    .nav-a:hover{
        transform: initial;
    }
}