/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ^^ CSS RESET ^^ */

body {
    width: 100%;
    background-color:cornsilk ;
}

/* ------HEADER--------- */

header {
    width:100%;
    background-color:#DAA520;
    padding: 3% 3%;
    border-bottom: 2px;
    border-style: solid;
    box-shadow:10px 10px 10px grey;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.boxWithinHeader {
    width: 100%;
   
}

h1 {
    font-size: 4rem;
    color: black;
    font-family: 'Righteous', cursive;
    font-weight: bolder;
    text-shadow: 3px 3px 5px lightgray;
}
.allTheLinks {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    text-align: center;
    width: 60%;
}
.link1 {
   border:solid;
   border-width: 2px;
   border-color: white;
   background-color:olive;
   padding: 1% 3% 1% 3%;
   text-align: center;
   width:60%;
}

.link1:hover {
    border:solid;
   border-width: 2px;
   border-color: white;
   background-color:lightpink;
   padding: 1% 3% 1% 3%;
}

.link1 a {
    text-decoration: none;
    color:white ;
    font-weight: bolder;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 1rem;
}

.link1 a:hover{
    text-decoration: none;
    color:black ;
    font-weight: bolder;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 1rem;
}

/* ------NEW SECTION--------- */

.allTheMiddleStuff {
    display: flex;
    flex-direction:column;
    align-content:flex-start;
}

.firstSectionBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3% 3%;
    background-color:lightpink;
    width:80%;
    margin-left:5%;
    border-radius: 15px;
}

.firstSectionBox:hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3% 3%;
    background-color:#DAA520;
    width:80%;
    margin-left:5%;
    border-radius: 15px;
}

.mainImageBox {
    width:49%;
}

.mainImageBox img {
 width:100%;
}

.introBox {
    width: 49%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

h2{
    font-size: 2rem;
}

button  {
   padding: 1% 1%;
   font-size: 18px;
   width: 160px;
   background-color: olive;
   color: white;
   font-family: 'Righteous', cursive;
   font-weight: bolder;
   border-color: white;
   border-width: 3px;

}
button:hover  {
    padding: 1% 1%;
    font-size: 18px;
    width: 160px;
    background-color: lightpink;
    color: black;
    font-family: 'Righteous', cursive;
    font-weight: bolder;
    border-color: white;
    border-width: 3px;
}
p{
    font-size: 1.1rem;
    
}


/* ------NEW SECTION--------- */

.secondSectionBox {
width:100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

.imageBox1 {
margin: 1% 1%;
width: 20%;

}

.imageBox1 img {
    width:100%;
}

.box1 {
    text-align:center;
    font-weight: bolder;
    font-family: 'Righteous', cursive;
}

/* ------FOOTER--------- */

footer{
    width:100%;
    background-color:#DAA520;
    padding: 3% 3%;
    border-top: 2px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.footerContentBox {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

h3 {
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Righteous', cursive;
    letter-spacing: 3px;
}

button .contact  {
    padding: 3% 3%;
    font-size: 18px;
    width: 160px;

 }

 .socialLinks {
    display: flex;
    flex-direction: row;
}

a.instagram {
padding-right:8px;
}

a.linkedin {
padding-left:8px;
}



 /* ------MEDIA QUEARIES--------- */


 @media (max-width:800px){
    .allTheLinks {
        justify-content: center;
        text-align: center;
    }
    h1 {
        font-size: 3rem;
        text-align: center;
    }
    p {
        text-align: left;
    }
 }




 @media (max-width:500px){
    header {
        width:100%;
    }
    
    body {
        width:100%;
    }
    .boxWithinHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .allTheLinks {
        justify-content: center;
        flex-direction: column;
        width: 50%;
        text-align: center;
    }
    h1 {
        font-size: 3rem;
        text-align: center;
    }
    
    .firstSectionBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .firstSectionBox:hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color:#DAA520;
    }
    .introBox {
     width: 100%;
     text-align: center;
    }
    h2{
    font-size: 2rem;
    
    }
    p {
    text-align: center;
    }
    .mainImageBox {
    width:100%;
    }
    .secondSectionBox {
    justify-content: center;
    }

    .imageBox1 {
        width: 40%;
    }
}
