/* Add CSS styling here */
/* CSS Reset */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
/* 	border: 0; */
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
/* 	background: white; */
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

/*General Styles*/

*{
  box-sizing: border-box; 
   max-width:100%; 
  /* border: 1px solid gray; */
  margin: 0 auto;
}

html{
  font-size: 62.5%; 
}

body{
  font-family: Arial, "Helvetica", sans-serif;
  font-size:2.0rem;
  line-height: 1.5; 
  color: #4f4f4f;
}

a{
  text-decoration: none;
}

p{
  width: 75%;
  font-size: 1.8rem;
}

h1,h2,h3,h4,h5,h6 {
  letter-spacing: 3px;
}

section{
  padding: 2% 0;
  width:90%
}
button{
    background-color: #0D335D;
    border: 1px solid grey;
    color: white;
    width: 20%;
    height: 10%;
}
header h1{
 margin-left: 5%;
 font-size: 3.0rem;
}
header nav{
    display: flex;
    margin-left: 8%;
    width: 25%;
    justify-content: space-between; 
}
header nav a{
    margin: 4% 0;
    padding: 10%, 10%;
    width: 40%;
    background-color: white;
    color: #28527A;
    text-align: center;
    border:1px solid lightskyblue;
}
header nav a:hover{
    background-color: #0D335D;
    color: white
}
.profile{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}
.profile img{
    border-radius: 5%;
}
.profile .homeprofile {
    width: 55%;
    text-align: left;
}
.profile .homeprofile p {
    width: 100%;
    text-align: left;
    padding: 1% 4%;
}
.profile .homeprofile button {
    margin: 1% 4%;
}
.profile .homeprofile h2{
    font-size: 3.1rem;
    padding: 0 4%;
}

.projects{
    display: flex;
    justify-content: space-between;
    align-content:space-between;
    flex-wrap: wrap;
    height: 90vh;
}
.projects p{
    text-align: center;
    width: 100%;
}

.box{ 
    width: 22%;

}  
.box img{
    height: 33vh;
    width: 100%;
}
.box img:hover{
    border: 4px solid #8AC4D0;
}

footer{
    background-color: #8AC4D0;
    padding:2%;
    display: flex;
}
footer .contact{
    text-align: center;

}
footer button{
    padding:1%;
    height: 5vh;
    margin: 1%;
}

footer a{
    color:#fff;
}
footer a:hover{
    color:#4f4f4f;
}
footer div{
    width:40%;
    margin-left:25%;
    
}
nav.social{
    display:flex;
    justify-content: space-between;
    width: 10%;
    margin-right: 5%;
    
}


/*Media Queries*/ 
/*Tablet*/
@media(max-width: 800px){

header{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
header H1{
    font-size: 5rem;
}
header nav{
    margin-left: 30%;
    width: 40%;
}
nav{
    flex-direction: column;
    align-items: center;
}
header nav a{
    font-size:2.2rem;
    margin: 0 auto;

}
.profile {
    flex-direction: column;
}
.profile .homeprofile {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 90%;
    margin: 0 auto;
}
.profile .homeprofile button{
    padding: 2% 3%;
}
.profile .homeprofile h2{
    font-size: 4rem;
    text-align: center;
}
.profile img{
    width: 100%;
    margin: 0 auto;
    height: 30vh;
}
.profile .homeprofile p {
    text-align: center;
}
.projects{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}
.projects .box{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}
.projects .box p{
    padding:3% 0;
}
.box img{
    height: 25vh;
    width: 100%;
}
.box:nth-child(7) {
    display:none;
  }
.box:nth-child(8) {
    display:none;
  }
footer div{
    width: 100%;
    margin: 0 auto; 
}
footer h2{
    font-size: 4rem;
}
footer button{
   width: 30%;
   font-size: 2.5rem;
}
footer .social{
    display: none;
}
}

/*Phone*/
@media(max-width: 500px){

header H1{
        font-size: 4rem;
    }
header nav a{
font-size:1.3rem;
margin: 0 auto;
}
.profile .homeprofile button{
    padding: 3% 3%;
    width: 40%;
}
.profile .homeprofile h2{
    font-size: 2.5rem;
}
.profile .homeprofile p {
    text-align: center;
    font-size: 1.5rem;
}
.projects {
    height: 80vh;
}
.projects .box p{
    padding:2% 0;
    font-size: 1.2rem;
}
.box img{
    height: 21vh;
}
.box:nth-child(7) {
    display:none;
  }
.box:nth-child(8) {
    display:none;
  }
footer h2{
    font-size: 2.5rem;
}
footer button{
   width: 30%;
   font-size: 1.5rem;
}
}