body{
    margin: 0px;
}
.navDiv{
    background-color: #d5dbd6;
   
}
.navBar{
    display:flex;
    background-color: #d5dbd6;
    align-items: flex-start;
    padding-left: 40px;
    padding-bottom: 25px;
}
.navBar a{
    border-style: solid;
    border-color: black;
    background-color: white;
    padding: .6%;
    text-decoration: none;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

.navBar a:hover{
    background-color: black;
    color: white;
}
.navBar:visited{
    text-decoration: none;
}
.myName{
margin: 0px;
padding: 25px;
font-family: 'Lobster', cursive;
font-size: 46px;
}
.bodyImgs{
    display: flex;
    justify-content: center;
   
}
.bodyImgs img{
   max-width: 750px;
   max-height: 375px;
   margin: 10px;
}
.bodyImgs h3{
    margin-top: 60px;
    padding: 50px;
    font-family: sans-serif;
    }
.bodyImgs button{
    height: 25px;
    text-align: center;
    margin-top: 20px;
}
.bodyImgs p{
    max-width: 300px;
    font-family: monospace;
    text-align: justify;
    margin-top: 30px;
}
.imgGroups{
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
}
.imgGroups img{
    padding: 10px;
}
footer{
    background-color: #d5dbd6;
    height: 100px;
    text-align: center;
}
footer p{
    text-align: center;
    padding-top: 20px;
}
footer button{
    text-align: center;
}