*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100;
   
 
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 2px;
}

/* Add CSS styling here */

header {
   width:100%;
   background-color: #302e2ef4;  
}

nav h2 {
    /* display: inline-block; */
    padding: 1%;
}

nav {
    height:75px;
    width:100%;
    display: flex;
}


nav a{
    color: #f4f4f4;
    text-decoration: none;
    height: 50px;
   
}

.links {
    /* display: inline-block; */
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin-left:40%;
    padding-top:2%;
  
}

.main {
   background-color: black;
   width:100%;
   height: 70vh;
   /* background-image: url("/assets/IMG_7537.JPG"); */
   /* background-repeat: no-repeat; */
    margin: 0 auto;
   
}

.main-wrapper {
    align-items: center;
    padding-left: 40%;
}



.main-wrapper img{
    width: 30% ;
    height: 20%;
    margin:0 auto;
    border-radius: 50px;
    
}



.Intro {
    width:40%;
    height:70%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}



 h1, h2, p {
    color: #f4f4f4
}
.projects h3{
    text-align: center;
    padding:20px;
    color: #f4f4f4;
}

.projects {
    background: rgb(31, 30, 30);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-evenly;
    padding:5%;
}

.wrapper img {
    width:100%;
}

.box1 {
   
    width:30%;
}

.box2 {
 
    width:30%
;
}

.box3 {
  
    width:30%
    
}

.box4 {

    width:30%;
   
}

.box5 {
    
    width:30%;
   
}

.box6 {
 
    width:30%;
    
}