* {
    box-sizing: border-box;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 8px;
    font-family: 'Anonymous Pro', monospace;
    color: white;
}

body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    width: 100%;
    height: 100%;
}

.flexNav {
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    margin-bottom: 15px;
    margin-right: 10px;
    color: white;
}

h1 {
    font-size: 32px;
    margin: 20px;
}

nav {
    background-color: plum;
    padding: 5px;
    margin-right: 5px;
    border-radius: 0px;
}

a {
    width: 25px;
    height: 30px;
    border-radius: 0px;
    text-decoration: none;
    padding: 5px;
    color: white;
}

a:hover {
    background: gold;
    color: white;
    transition: 600ms ease;
}

section img {
    display: flex;
    width: 80%;
    justify-content: center;
    align-self: center;
    margin: auto;
    background-color: white;
    border: 10px solid #D5B23F;
    animation: fade 3s ease-in;
}

@keyframes fade {
    from {
        opacity: 3%;
    }
    to {
        opacity: 100%;
    }
}

.flexContainer1,
.flexContainer2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
}

.flexContainer1 div img,
.flexContainer2 div img {
    height: 400px;
    width: 500px;
    background-color: bisque;
    transition: transform 600ms ease-in;
    border: 10px solid #D5B23F;
    margin: 20px;
}

p {
    text-align: center;
    font-size: 20px;
}

.flexContainer2 p {
    margin-bottom: 15px;
}

div img:hover {
    transform: scale(1.3);
}

footer {
    background-color: gray;
    text-align: center;
    height: 100px;
    width: 100%;
    border-radius: 0px;
    padding-top: 25px;
    margin-top: 20px;
}

footer>a {
    text-align: center;
    background-color: plum;
}