/* Add CSS styling here */

body { 
}


h2 {
    font-family: 'Antic Slab';
    text-align: center;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    text-align: center;
}

.navitem {
    border: 1px solid black;
    padding: 10px;
    font-family: 'Antic Slab';
    text-align: center;
    background-color: #2f3831;
    color: white;
}

#introtext {
    padding: 5px;
    margin: 5%;
}



.mainimg {
    width: 100%;
    height: 30%;
    background-repeat: no-repeat;

}

.inner {
    text-align: center;
    width: 100%;
    color: white;
    height: auto;
}



.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 650px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (max-width: 800px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

#lowertext {
    width: 25%;
}


@media (max-width: 650px) {
    #lowertext {
        width: 100%;
        text-align: center; 
    }
}

@media (max-width: 800px) {
    #lowertext {
        width: 15%;
        text-align: center; 
    }
}

.small {
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 10%;
    margin-bottom: 10%;
    height: auto;
    width: auto;

}


.footerdiv {
    height: 100px;
    width: 100%;
    background-color: #2f3831;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contactbutton, #projectsbutton {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  
}

@media (max-width: 650px) {
     #projectsbutton {
        margin-right: auto;
        margin-left: auto;
    }
    }

@media (max-width: 800px) {
    #projectsbutton {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2%;
       }
       }

@media (max-width: 800px) {
    #contactbutton {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1.5%;
     }
  }
      