/* Add CSS styling here */
body {
  border: 2px solid green;
}
h1 {
  color: lightseagreen;
  text-align: center;
  font-size: 3rem;
}
nav {
  display: flex;
  justify-content: center;
}
nav a {
  color: white;
  margin: 0;
  padding: 10px 20px;
  background-color: rgb(97, 97, 197);
}
section {
  display: flex;
  flex-flow: column wrap;
}
h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: -20px;
}
.info {
  text-align: center;
  padding: 20px;
}
.imgArea {
  display: flex;

  justify-content: space-around;
  margin: 0px;
}

.longPic {
  object-fit: cover;
  width: 70%;
}

footer {
  padding: 4rem;
  text-align: center;
  background-color: gray;
}
.contact {
  border: 3px solid black;
  text-align: center;
  background-color: white;
  width: 10%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.sideCom {
  color: gray;

  padding: 250px 10px 0px 10px;
}
