/*CSS reset*/
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    }
/* remember to define focus styles! */
:focus {
    outline: 0;
    }

ol, ul {
    list-style: none;
    }
/* tables still need cellspacing="0" in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
    }
caption, th, td {
    font-weight: normal;
    text-align: left;
    }
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    }
blockquote, q {
    quotes: "" "";
    }
/*end of CSS reset*/

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /* border:1px solid grey; */
    }

/*General Styles*/
    html{
        background-color:rgb(185, 151, 254);
        font-size: 62.5%;
        font-family:'Indie Flower';
    }

    body{
        font-size:1.6rem;
        line-height:1.5;
        color:#4f4f4f;
    }

    section{
         padding:4% 0;/* this just spaces the page out a little bit nicer. */
    }
    a{
        text-decoration:none;
    }
    h1, h2{
        text-transform:capitalize;
    }
    h1:hover, h2:hover{
        text-transform:uppercase;
    }
    a, p{
        font-size:2.5rem;
    }
    a{
        border:1px solid rgba(0, 0, 0, 0.277);
        border-radius:5px;
    }

/* nav bar styles */

    header{
        display:flex; 
    }
    h1, nav{
        display:flex;
        margin:2%; 
    }
    h1{
        width:36%;
        padding:1% 0;
        font-size:4rem;
        letter-spacing: 1.5mm;
        color:rgb(235, 125, 85);
        text-shadow:1px 1px 2px black;
    }
    nav{
        width:64%;
        display:flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav a{
        padding:2% 3%;
        background-color:rgb(240, 158, 128);
        color:black;

    }
    .home{
        background-color:rgb(235, 125, 85);
    }

    /* navigation bar hover styles */
    nav a:hover{
        transition:2s;
        color:mediumblue;
        background-color:rgb(255, 215, 113);
    }
    

/* top section styles */
    .container{
        display:flex;
        flex-direction:column;
        align-items:center;
        border:5px solid black;
        width:85%;
        padding:15% 7%;
        text-align:center;
        margin: 0 auto;
        
        background:url(https://images.unsplash.com/photo-1624924249260-e5c40c8b3aa0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80);
        background-size: cover;
        background-position:center top 35%;
    }
    h2{
        font-size:5rem;
        text-transform:uppercase;
        margin-bottom:1%;
        width:50%;
        color:rgb(238, 188, 154);
        background-color:rgba(15, 13, 13, 0.411);
        text-transform:uppercase;
        border-radius:10px;
    }
    
    .container a{
        width:20%;
        padding:2%;
        color:rgba(55, 55, 55, 0.9);
        border:solid 1px black;
        text-decoration:none;
        background-color:rgba(251, 216, 185, 0.243);   
    }
    .container a:hover{
        background-color:rgb(251, 216, 185);
        transition:1s;
    }

    h3{
        text-align:center;
        margin:0 auto;
        font-size: 5rem;
        width:30%;
        color:lightsalmon;
        text-shadow:1px 1px 2px black;
    }
/* top section hover styles  */
    h2:hover{
        text-transform:capitalize;
    }

    
/* images section styles */
    #pics{
        padding-top:2%;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;
    }
    #pics div{
        width:30%;
        padding:1%;
        display:flex;
        flex-direction:column;
    }
    img, p{
        text-align:center;
        padding:1%;
        margin:0 auto;
    }
    p{
        margin-top:3%;
        color:rgb(235, 125, 85);
        text-shadow:1px 1px 2px black;
        text-transform: capitalize;
    }
    

/* footer section */
    footer{
        padding:4%;
        background-color:rgb(235, 125, 85);
        text-align:center;
    }
    footer a{
        background-color:rgba(169, 150, 150, 0.482);
        padding:1% 4%;
        color:black;
        font-weight:bold;
    }
    footer a:hover{
        background-color:mediumpurple;
        color:white;
        transition:1s;
    }
