html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



body {
    background-color:  rgb(97, 97, 97);
    box-sizing: border-box;
    
}

header {
    background-color: #383838;
    padding-top: 2%;
    padding-bottom: 1%;
    
}

h1 {
    color: white;
    font-size: 300%;
    margin-left: 2%;
       
}


ul {
    
    margin-left: 8.2%;
    margin-top: 1%;
    display: flex;
    background-color:black;
    width: 17.2%;
    padding-bottom: .1%;
    padding-top: .1%;
       
}

li {
    list-style: none;
    border-right: 1px solid white;
    color: white;
    padding: 2%;
    font-size: 120%;
     
}

li:last-child {
    border-right: none;
}

a {
    color: white;
    text-decoration: none;
}

p{
    color: white;
}

.desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 1.5%;
        
}

.desc2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    width: 58%;
    font-size: 130%;
    margin-top: 5%;
}

.desc2 h2 {
    color: white;
    font-size: 250%;
}

.desc2 button {
    margin-top: 1%;
    margin-bottom: 2%;
    padding: .85% 3%;
    border-style: none;
    color: white;
    background-color: black;
    
}

.desc2 p {
    width: 90%;
    font-size: 80%;
    font-style: italic;
    line-height: 2 px;
}


.row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 5%;
}

.row p {
    display: flex;
    justify-content: center;
    font-size: 150%;
   
}


.foot {
    font-size: 200%;
    line-height: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #383838;
    color:white;
    padding: 5%
    
}

.foot button {
    color: white;
    background-color: black;
    border-style: none;
    padding: .8% 4%
    
}

@media (max-width: 800px) {

    
    
    header {
        width: 100%;
    }

    
    h1 {
        font-size: 300%;
        display: flex;
        justify-content: center;
       
    }

    ul {
        flex-direction: column;
        margin-left: 42%;

    }

    li {
        display: flex;
        justify-content: center;
        list-style: none;
        border-right: none;
        border-bottom: 1px solid white;
        color: white;
        text-align: center;
    }

    li:first-child {
        border-top: 1px solid white;
    }

    .desc {
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }

    .desc img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
    }

    .desc2 {
        align-items: center;
        width: 100%;
        margin-bottom: 4%;
        
    }

    .row {
        flex-wrap: wrap;
        width: 88%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        margin-bottom: 2%;
       
    }
    
    .row img {
        width: 80%;
        height: auto;
       
    }

    .row p {
        font-size: 130%;
        margin-bottom: 3%;
        width: 79%;
    }

    footer {
        width: 100%;
        
    }
}

@media (max-width: 500px) {


}




    
    





