/* CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* general styles */

/* lets me see the boxes and spacing  */ */
*{
	box-sizing: border-box;
	border: 1px black;
	max-width: 100%;
}

html{
	font-size: 62.5%;
}

body{
	font-family: 'Shadows Into Light', cursive;
}

header{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: rgb(202, 202, 202);
	padding: 5% 0;

}

h1{
	font-size: 8rem;
	height: 2cm;
	margin-left: 2%;
}

nav{
	padding: 2%;
	display: flex;

	
}

nav a{
	flex-flow: row wrap;
	padding-top: 3%;
	border-radius:  1%;
	border: solid black;
	background-color: white;
	color: black;
	width: 4cm;
	height: 0.7cm;
	text-align: center;
	text-decoration: none;

}

.info{
	display: flex;
	padding: 2%;
	margin: auto;
}

.picture .bioInfo{
	flex-flow: row wrap ;
}

.picture{
	height: auto;
	max-width: 80%;
	padding: 2%;
}

.name{
font-size: 4rem;
bottom: 5%;
margin-bottom: 5%;
}

.projectsb{
	font-size: 2rem;
	margin-bottom: 5%;
	padding: 2%;
}

.bioInfo{
	font-size: 2rem;
}
