html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*general styling*/
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    max-width:100%;
}

/*header styling*/
header{
    display: flex;
    flex-direction: column;
    background: gray;
    padding:1%;
}
h1{
    font-size:7rem;
    font-weight: bold;
    padding:1%;  
}
nav a{
    text-decoration: none;
    color: black;
    padding:1%;
    
}
nav a:hover{
    color: white;
}
.about{
    display: flex;
    margin: 5% auto;
    justify-content: space-evenly;
    
}
.about div{
    width:50%;
    justify-content: center;
}
.projectpics {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    }
.projectpics div{
    display:flex;
    flex-direction: column;
    width:22%;
    align-items: center;
    justify-content: space-evenly;

   }
.projectpics div h3{
    padding:5%;
}

footer{
    display:flex;
    background: gray;
    justify-content: center;
    flex-direction: column;
    height: 15vh;
    align-items:center;

}
h2{
    font-size: 3.5rem;
}
