html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*My Styles*/
html {
    font-size: 62.5%
}

body {
    font-size: 1.6rem;
}

header {
    background-color: lightgrey;
    padding: 20px;
    margin-bottom: 15px;
}

footer {
    background-color: lightgrey;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 5rem;;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.description {
    padding: 2%;
    width: 60%;
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 2%;
}

.portfolio-element {
    text-align: center;
}

button {
    background-color: white;
    color: black;
    border: black solid 1px;
    padding: 5px 10px;
}

button:hover {
    background-color: black;
    color: white;
    border: white solid 1px;
}

button a {
    text-decoration: none;
    color: inherit;
}

@media(max-width: 800px) {
    .row div {
        width: 40%;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .top-section img {
        width: 40%;
    }
}

@media(max-width: 500px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;;
    }
    button {
        width: 40%;
        margin: 1% 0;
    }
    .top-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .description{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .row div {
        margin: 4% 0;
        width: 60%;
    }
}