/* Add CSS styling here */
*{
    border: 1px solid black;
    background-color: greenyellow;
    width:100%;
   

}
header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:red;
    background-color: thistle;
border-radius: 30%;
}
.nav{
    text-align: center;
    
}
a {
    text-decoration: none;
    border-radius: 50%;
    background-color: chocolate;
    color:tan;
    padding:20px;
}
.main:{
    text-align: center;
}

h2{
    text-align: center;
    color:pink;
    background-color:purple;
}
 .image1 img{
    width: 100%;
}
footer a{
    text-align: center;
}
.image2{
    display: flex;
    flex-direction: row;
    width: 20px;
    
   
}
.image2{
    width:20%;
}