/* Polaroid Style - https://www.w3docs.com/tools/code-editor/6619 */ 
/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------------------------------Body section ----------------------------------------*/
* {
    box-sizing: border-box;
}

body {
    font-family: Roboto Mono;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100vw;
} 

main {
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------ GO TO HEADER SECTION -------------------------------------- */
header {
    display: flex;
   /*  background-color: rgb(201, 241, 201); */
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    height: 10em;
    padding: 30px;
    background: url("https://images.unsplash.com/photo-1544769283-3a288a25d496?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80");
    background-size: cover;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}

h1 {
    color: white;
    font-size:  3em;
    font-family: 'Dancing Script', cursive;
    align-self: flex-start;
    padding-bottom: 10px;
}

nav {
    height: 80px;
    align-self: flex-start;
}

ul {
    display: flex; /* lets the <a> tags display in a row */
    list-style-type: none;
}

li {
    display: flex;
    justify-content: flex-start;
}

nav ul li a {
    padding: .75em 2em;
    color: white;
    background-color: green;
    border-radius: 10px;
    text-decoration: none;
    margin: 10px;
}

nav ul li a:hover {
    background: white;
    color: black;
    transform: scale(1.2);
    transition: 2s ease;
}

/* ----------------- Background Image Container ---------------------- */
.background-image-container {
    background-image: url("../images/monstera.jpg"); 
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    margin-top: 10px;
}

/* -----------------Large image intro section----------------- */
.large-image-intro-section {
    display: flex;
    height: 400px;
    padding: 20px;
}
/* Children of .large-image-intro HAVE FLEX */

.intro-image {
    flex-direction: row;
    width: 500px;
    margin: 1em;
    padding: 30px;
    background-size: cover;
    /* polaroid effect here  */
    background: white;
    display: inline-block;
    padding: 15px 15px 30px;
    /* margin-bottom: 30px; */
    border-radius: 0px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    z-index: 0;
    position: relative;
}

h2 {
    color: black;
    font-size:  2.5em;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
}
.my-projects-button {
    color: black;
    background-color: rgb(201, 241, 201);
    padding: .75em 2em;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    text-decoration: none;
}

.my-projects-button:hover {
    background: green;
    color: white;
    transform: scale(1.2);
    transition: 2s ease;
}

p {
    letter-spacing: .05em;
    line-height: 1.5;
}

.intro-container {
    display: flex;
    flex-direction: column; /* default is row */
    height: 400px;
    width: 50%;
    padding: 30px 30px 30px 60px;
    align-items: flex-start;
}

/* Children of .intro-container HAVE FLEX */


.intro-text {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    align-self: left;
}

/* ----------------Project polaroids section -----------------*/
.project-polaroids-section {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
}


/* Children of .project-polaroids-section HAVE FLEX */

.polaroid a {
    background: #ffffff;
    display: inline-block;
    padding: 15px 15px 30px;
    margin: 10px 0px 30px 0px;
    border-radius: 0px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    z-index: 0;
    position: relative;
  }
  .polaroid a:after {
    color: #333;
    font-size: 25px;
    content: attr(title);
    position: relative;
    top: 15px;
  }
  .polaroid img {
    display: block;
    width: 250px;
  }
  .polaroid a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1.5s ease;
    z-index: 10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  }

/* Children of .tile HAVE FLEX */

h3 { /* styles ALL project titles */
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

.project-image { /* styles ALL project images */
    height: 150px;
    width: 100%;
    object-fit: cover;
}

/* ---------------------------------- GO TO FOOTER SECTION --------------------------------- */
footer {
    background: green;
    width: 100%;
    display: flex;
    height: 12em;
    padding: 1em;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    /* shadow */
    -webkit-box-shadow: 0px -4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 -4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 -4px 6px rgba(0, 0, 0, .3);
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    z-index: 0;
    /* postion: relative; */
}


.text-above-button {
    color: white;
    justify-content: center;
    align-self: center;
    font-size:  2em;
    font-family: 'Dancing Script', cursive;
    padding: 10px;
}

.contact-me-button {
    color: black;
    background-color: rgb(201, 241, 201);
    padding: .75em 2em;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    align-self: center;
    text-decoration: none;
}

.contact-me-button:hover {
    background: white;
    color: black;
    transform: scale(1.2);
    transition: 2s ease;
}

.social {
    display: flex;
    height: 3em;
    width: 200px;
    align-self: center;
    margin-top: 5px;
    /* padding: 10px; */
    align-items: center;
    justify-content: space-around;

}

a .social-media-icon {
    align-self: center;

}

/* ----------------------------- GO TO MEDIA QUERY --------------------------------*/

/* ----------------------------- GO TO MEDIA QUERY for WIDESCREEN 1920 x 1080 ----------------*/
@media all and (max-width: 1920px) {

.large-image-intro-section {
    width: 100%;
    justify-content: center;
    background: whitesmoke;
    }

h2 {
    font-size: 4rem;
}

.my-projects-button {
    padding: 1em 2em;
    width: 400px;
    font-size: 1em;
}

.my-projects-button:hover {
    transform: scale(1.2);
    transition: 2s ease;
}

.intro-text {
    font-size: 1.3em;
}

.project-polaroids-section {
    width: 90%;
    align-self: flex-start;
    justify-content: flex-start;
    padding-right: 10%;
}

.polaroid {
    margin: 2em;
}
}
/* ----------------------------- GO TO MEDIA QUERY for 1884 ---------------------*/
@media all and (max-width: 1884px) {
.intro-container p {
    font-size: .9em;
}
}

/* ----------------------------- GO TO MEDIA QUERY for LAPTOP 1366 x 768 ---------------------*/
@media all and (max-width: 1366px) {
h2 {
    font-size: 3rem;
}
.intro-container p {
    font-size: 1em;
}
.project-polaroids-section {
    width: 100%;
    justify-content: space-around;
    padding: 30px;
}
.polaroid {
    margin: 7px;
}
}
/* ----------------------------- GO TO MEDIA QUERY for 1064 ----------------------------------*/
@media all and (max-width: 1064px) {
    .large-image-intro-section {
        flex-direction: column;
        height: 5%;
    
    }
    
    .intro-container {
        width: 100%;
        height: 300px;
        justify-content: space-evenly;
        padding: 30px;
    }
    
    .project-polaroids-section {
        justify-content: space-evenly;
    }
    }

/* ----------------------------- GO TO MEDIA QUERY FOR 800 -----------------------*/
@media all and (max-width: 800px) {


}
/* ----------------------------- GO TO MEDIA QUERY FOR 600 -----------------------*/
@media all and (max-width: 600px) {
header {
    width: 100%;
    height: 260px;
}

nav {
    height: 80px;
    align-self: flex-start;
    justify-content: space-between;  
}

ul {
    display: flex; /* lets the <a> tags display in a row */
    flex-flow: row wrap;
    justify-content: space-between;  

}

li {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

nav ul li a {
    padding: 1em 2em;
    color: white;
    background-color: green;
    border-radius: 10px;
    width: 8em;
    text-align: center;
    align-self: flex-start;  
}

.large-image-intro-section {
background: none;
}
.intro-image {
    width: 90%;
    margin: 0, auto;
}

.my-projects-button {
    padding: 1em 2em;
    width: 300px;
    font-size: 1em;
}
}
/* ----------------------------- GO TO MEDIA QUERY FOR 500 -----------------------*/
@media all and (max-width: 500px) {
h1 {
    font-size: 2.5em;
}

li {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.intro-container {
    margin-top: 20px;
}

}
/* ----------------------------- GO TO IPHONE X 375 x 812 -----------------------*/
@media all and (max-width: 375px) {

/* empty */

}

/* ----------------------------- GO TO IPHONE 360 x 640 -----------------------*/
@media all and (max-width: 360px) {

header {
    height: 60vh;
    width: 100vw;
}

h1 {
    color: white;
    font-size:  2.5em;
    font-family: 'Dancing Script', cursive;
    align-self: flex-start;
    margin: 0 auto;
    padding-bottom: 10px;
}

nav {
    height: 80px;
    align-self: flex-start;
    justify-content: space-between;  
}

ul {
    display: flex; /* lets the <a> tags display in a row */
    flex-flow: column wrap;
    justify-content: space-between;  

}

li {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

nav ul li a {
    padding: 1em 2em;
    color: white;
    background-color: green;
    border-radius: 10px;
    width: 8em;
    text-align: center;
    align-self: flex-start;  
}

/* --------------MOBILE Begin body section -----*/

.background-image-container {
    background-position: center 0vh;
    background-repeat: no-repeat;
    height: 90%;
    align-self: flex-start;
}

.large-image-intro-section {
    flex-direction: column;
}

.intro-image {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    align-self: flex-start;
    /* polaroid effect here  */
    background: white;
    padding: 15px 15px 30px;
    text-align: center;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    z-index: 0;
    position: relative;
}

h2 {
    color: black;
    font-size:  4em;
    margin-top: 250px;
}

.my-projects-button {
    background: black;
    color: white;
    padding: 1em 2em;
    
}

p {
    color: black;
    letter-spacing: .05em;
    line-height: 1.5;
    margin-top: 90px;
}

.intro-container {
    display: flex;
    flex-direction: column; /* default is row */
    height: 250vh;
    width: 100vw;
    align-items: flex-start;
}

.project-polaroids-section {
    flex-direction: column;
    /* height:  900vh; */
    /* margin-top: 70vh; */
    flex-flow: column wrap;
    margin-top: 200px;
}

footer {
    height: 50vh;
    justify-content: flex-end;
}

footer p {
    margin-top: 0;
}

.text-above-button {
    font-size: 3.5em;
}
.contact-me-button {
    width: 300px;
    padding: 1em 2em;
    margin: 1em;
}
.contact-me-button:hover {
    width: 300px;
}
.social {
    margin-bottom: 2em;
}
}
/* ------------------------------ GO TO MEDIA QUERY SPEECH ------------------------ */
@media speech {

}

/* ------------------------------ GO TO PROJECT PAGE ------------------------ */
/* #project-page-background-image-container.background-image-container {  /*  BROKEN */
    /* background: url("https://images.unsplash.com/photo-1544769283-3a288a25d496?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80");
    background-size: cover; */
    /* background: url("https://cdn.pixabay.com/photo/2019/11/24/05/22/green-4648611_1280.jpg"); 
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
}

div a .languages-spoken-text {
    color: black;
    font-size: 1.025em;
    text-align: left;
}

div a .training-text {
    color: black;
    font-size: 1.025em;
    text-align: left;
} */ 