header {
    background-color: lightgrey;
    padding: 20px;
    margin-bottom: 15px;
}

footer {
    background-color: lightgrey;
    text-align: center;
    padding: 20px;
}

.topsection {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.description {
    padding: 20px;
    width: 50%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.portfolio-element {
    text-align: center;
}

button {
background-color: white;
color: black;
border: 1px solid black;
padding: 5px 10px;
}


button:hover {
   background-color: black;
   color: white;
   border: 1px solid white;
}

button a {
    text-decoration: none;
    color: inherit;
}