@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of CSS Reset */

/* Universal selector */
*{
     border:1px solid black;
     max-width:100%;
}

/* General styles */
html{
     font-size:62.5%;
}
body{
     margin:0; 
     font-family: 'Vollkorn', serif;
}

/* Header Bar */
header{
     background-color:#e0e1dd;
     padding-top:2%;
     padding-bottom:1%;
}
h1{
     margin-left:2%;
     font-size:6rem;
     color:#00171f;
     font-family: 'Yeseva One', cursive;
}
/* Navigation Bar */
nav{
     display: flex;
     flex-flow: row nowrap;
     justify-content:flex-start;
     align-items:center;
     margin-left:4%;
     margin-bottom:2%;
     margin-top:2%;
     
}
nav a{
     font-size:1.9rem;
     text-align:center;
     text-decoration:none;
     text-shadow: 1px 1px black;
     background-color:#415a77;
     color:white;
     padding-top: 1.1%;
     height:35px;
     width:10%;
     border-radius: 10px;
     transition:.3s;
}
nav a:hover{
     background-color:#1b263b;
     color:white;
     width:11%;

}

/* Main Content of Page */
.main-page{
     margin:2%;
}

/* Info section containing big picture and about section */
.info-section{
     display:flex;
     flex-flow:row wrap;
     flex-shrink:0;
     justify-content: space-evenly;
}
.big-pic{
     width:50%;
     height:90%;
     background-position: center;
}
.big-pic img{
     width:100%;
     height:100%;
}
.info{
     display:flex;
     flex-flow:column nowrap;
     justify-content:space-evenly;
     width:42vw;
     
     transition:.3s;
}
h2{
     font-size:3.2rem;
     font-weight:bold;
     
}
.info p{
     font-size:2rem;
     line-height:2.4vw;
     letter-spacing: .8px;
     
}
.project-button{
     font-size:1.7rem;
     width:15vw;
     height:5vw;
     border-radius: 10px;
     background-color:#415a77;
     color:white;
     text-shadow: 1px 1px black;
}
.project-button:hover{
     background-color:#1b263b;
     color:white;
}
/* END of info section containing big pic */

/* start of project section containing list of projects */
.project-container{
     display:flex;
     flex-flow:row wrap;
     justify-content:space-evenly;
     align-content:space-around;
     align-items:center;
}

.project{
     width:20vw;
     height:20vw;
     margin:2% 1%;
     background-position: center; 
}
.project img{
     height:20vw;
     width:20vw;
}

/* project titles */
.project p{
     /* margin-top:253px; */
     text-align:center;
     font-size:2rem;
}


/* footer section */
footer{
     height:25vh;
     display:flex;
     flex-flow: column nowrap;
     align-items: center;
     background-color:#e0e1dd;
     /* padding-top:40px; */
     padding-bottom: 5%;
     justify-content: center;
}
.contact-button{
     margin-top:3%;
     width:20%;
     height:60px;
     border-radius: 10px;
     background-color: #415a77;
     color:white;
     text-shadow:1px 1px black;
}
.contact-button:hover{
     background-color:#1b263b;
     color:white;
}
h3{
     font-size:3.6rem;
}

@media(max-width:800px){
     .main-page{
          margin:2%;
     }
     nav a{
          font-size:1.4rem;
          width:11%;
          height:30px;
          padding-top:2%;
     }
     nav a:hover{
          width:12%;
     }
     .big-pic{
          width:44vw;
     }
     .info{
          width:49vw;
          padding-left:1%;
     }
     .info p{
          line-height:2rem;
          letter-spacing: .5px;
     }
     .project-button{
          font-size: 1.4rem;
          min-width: 100px;
          min-height: 35px;
     }
     footer{
          width:100%;
          height:25vw;
     }
     h3{
          font-size:2.5rem;
     }

     @media(max-width:500px){
          h1{
               font-size:4rem;
               text-align:center;
               margin-bottom:6%
          }
          nav{
               flex-direction:column; 
               margin:3% 2%;   
          }
          nav a{
               padding-top:4%;
               width:35%;
          }
          nav a:hover{
               width:36%;
          }
          .info-section{
               flex-direction: column;
               align-items:center;
          }
          h2{
               font-size:2.5rem;
               text-align:center;
               margin:1% 0;
          }
          .big-pic{
               width:85%;
               margin-top:5%;
               margin-bottom:5%;
               
          }
          .info{
               width:100%;
               align-items:center;
          }
          .project-button{
               margin:1% 0;
               text-align:center;
          }
          .info p{
               margin-top: 1%;;
               text-align:center;
               line-height:22px;
          }
          .project{
               width:40%;
               height:30vw;
               margin:4% 2%;
          }
          .project img{
               width:100%;
               height:100%;
          }
          .project p{
               font-size:1.6rem;
               margin-bottom:1%;
          }
          h3{
               margin-top: 4%;
          }
     }
}