/* Add CSS styling here */
h1 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  }

  .Tag {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px;
  }

  .Tag img {
    height:300px;
    width:400px;
    margin:20px;
  }

  /*NavBar*/
  .Navbar {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  .para {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 105px;
  }

  .Top {
    display: flex;
    flex-direction: row;
    align-items:center
    justify-content: space-between;
    padding: 45px;
    margin: 40px;
    height: 55px;
    width: auto;
  }

  .Bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:45px;
      margin:40px;
      height: 55px;
      width: auto;
    }
    .flexwrap_container {
      display: flex;
      flex-direction: row;
      text-align: center;
      border-radius: 50%;
      margin: 15px;
      width: 150px;
      height: 150px;
    }
    