html {
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

h1 {
  font-size: 3rem;
}

body {
  background: #171d22;
  width: 80%;
  margin: 5% 10%;
}

header {
  display: flex;
  flex: nowrap;
  flex-direction: column;
}
.navheader {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  background:#6c757d;
  padding: 1%;
  font-size: 2rem;
  text-transform: uppercase ;
}
.navheader a {
  border: 1px solid black;
  background-color: white;
  padding: 1% 2%;

}

a {
  text-decoration: none;
}
a:hover {
  background-color: yellow;
  color: black;
}

article {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:flex-end;
  width: 100%;
  font-size: 1.5rem;
}
article img {
  width: 30%;
  padding: 2%;
}

.bio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding:1%;
  align-items:center;
  justify-content: space-evenly;
  margin: 0 2%;
}

.projectsbutton {
  margin-bottom: 2%;
  padding: 1%;
  width: 20%;
}

button:hover {
  background-color:yellow;
  color:black;
  width:21%;
  font-size: 1.5rem;
}

section {
  padding: 2%;
}

.projectsgallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery1, .gallery2 {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  font-size: small;
}
.gallery1 div img, .gallery2 div img {
  width: 80%;
  margin: 1%;
  border: 2px solid white;
}
.gallery1 div img:hover, .gallery2 div img:hover {
  border: 5px solid yellow;
}

footer {
  width: 100%;
  background:#6c757d;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.contactbutton {
  margin: 2% 2%;
  padding: 1%;
  width: 20%;
}

/* @media for 1200px max-width starts here */
@media only screen and (max-width: 1200px) {
  article img {
    width: 50%;
    padding: 2%;
  }
  }
/* @media for 1200px ends here */

/* @media for 375 px max width starts here */
@media only screen and (max-width: 375px) {
  h1{
    font-size: 2rem;
  }

  header {
  align-items: center;
  }
  .navheader {
    align-items: center;
    font-size: 2rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: transparent;
  }

  .navheader a {
    padding: 1%;
    border: none;
    background-color: transparent;
    font-size:small;
    color:yellow;
  }

  .navheader a:hover{
    font-size:large;
  }

  article {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    width: 100%;
    font-size: .50rem;
  }
  article img {
    width: 50%;
    padding: 2%;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid yellow;
  }

  .gallery1 div, .gallery2 div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: .50rem;

  }

  .gallery1 div img, .gallery2 div img {
    width: 80%;
  }

  .gallery2 {
    display: none;
  }

  button {
    font-size: .60rem;
  }
}
/* @media for 375px ends here */

/* @media for 450px max width starts here */
@media only screen and (max-width: 450px) {
  h1{
    font-size: 2rem;
  }

  header {
  align-items: center;
  }
  .navheader {
    align-items: center;
    font-size: 2rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: transparent;
  }

  .navheader a {
    padding: 1%;
    border: none;
    background-color: transparent;
    font-size:small;
    color:yellow;
  }

  .navheader a:hover{
    font-size:large;
  }

  article {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    width: 100%;
  }
  .bio {
    font-size: .80rem;
  }
  article img {
    width: 50%;
    padding: 2%;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid yellow;
  }

  .gallery1 div, .gallery2 div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: .40rem;

  }

  .gallery1 div img, .gallery2 div img {
    width: 80%;
  }

  .gallery2 {
    display: none;
  }

  button {
    font-size: .40rem;
  }
}
/* @media for 450px ends here */

/* @media for 800 px max width starts here */
@media only screen and (max-width: 800px) {
  header {
  align-items: center;
  }
  .navheader {
    align-items: center;
    font-size: 2rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: transparent;
  }
  .navheader a {
    padding: 1%;
    border: none;
    background-color: transparent;
    font-size:small;
    color:yellow;
  }
  .navheader a:hover{
    font-size:large;
  }

  article {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    width: 100%;
  }
  article img {
    width: 50%;
    padding: 2%;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid yellow;
  }

  .gallery1 div, .gallery2 div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1rem;

  }

  .gallery1 div img, .gallery2 div img {
    width: 80%;
  }
}
/* @media for 800px ends here */

/* @media for 1000px starts here */
@media only screen and (max-width: 1000px){
  article {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    width: 100%;
    font-size: 1.5rem;
  }
  article img {
    width: 50%;
    padding: 2%;
  }
}
/* @media for 1000px ends here */





