/* Add CSS styling here */
*{
    font-family: 'Dosis', sans-serif;
    padding: 0; 
    margin: 0;

}
header{
    background-color: black;
    padding: 15px;
}
h1{
    font-size: 2rem ;
    color: white;
    margin-bottom: 5px;
}
h2{
    color: white;
    margin-bottom: 5px;

}

nav {
   font-size: 2rem;
   padding: 15px 0px;
   
     
}

nav a{
    color: white;
    border-radius: 10%;
    padding: 1%;
}

.pink{
background-color: rgba(169, 91, 129, 0.4);

}

.purple{
background-color: rgba(128, 0, 128, 0.4);

}

.blue{
background-color: rgba(17, 103, 103, 0.4);

}

.green{
background-color: rgba(76, 119, 11, 0.4);

}

.profilepic{
    border-radius: 5%;
    height: 30rem;
    width: 30rem;
    margin: 5%;
}

.intro{
    display: flex;

}
.myname {
text-align: center;
margin: 100px 10px 10px 10px;
font-size: x-large;
}


.thestuff{
    display: flex;
    margin-left: 25%;
    margin-right: 5%;
   
}
.thestuff2{
    display: flex;
    margin-left: 5%;
    margin-right: 25%;
}


footer{
    text-align: center;
}
.ending{
    font-size: 3rem;
}

#contact{
    font-size: 2rem;
    color: white;
    background-color: black;
    padding: 2%;
}




.container {
    position: relative;
    width: 50%;
  }
  .image{
    height: 30rem;
    width: 20rem;
    border-radius: 5%;
    margin: 5px;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30rem;
    width:20rem;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 140, 186, 0.4);
    border-radius: 5%;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }