html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
    border:1px solid red;
}
h1, h2{
    letter-spacing: 1px;
    color: gray;
    text-align:center;
}
h1 {
    font-size: 3.5rem;
}
h2 {
    font-size : 2.5rem;
}
section {
    padding: 4%;
}
a {
    text-decoration: none;
    color: skyblue;
    font-size: 1.5rem;
}
a:hover {
    text-decoration: underline;
}
header nav{
    width: 100%;
    background-color: indigo;
}
.links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.intro
{
    padding: 4% 5% 4%;
    text-align: center;
}
.splash
{
height: 20vh;
background-image: url('../img/splash.jpg');
background-position: center;
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
}
.projects {
    display:flex;
    margin-top: 2%;
    justify-content:space-around;
    align-items: center;
    text-align: center;
}


.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: start;
  }
  .container:after {
    display: block;
    margin: 1px;
    flex: 999 999 auto;
  }
  .item {
    flex: 0 0 auto;
    margin: 1px;
  }

footer {
    background-color:gray;
    padding:1%;
    text-align: center;
}