/* Add CSS styling here */
*{
    box-sizing: border-box;
    max-width: 100%;
}

/* html{
    font-size: 62.5%;
} */

body{
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav h1{
    font-size: 4rem;
}

.banner{
    display: flex;
    justify-content: center;
}

.image-button{
    background-image: url('https://picsum.photos/600/400?grayscale');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 30px;
    width: 600px;
    height: 400px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.portfolio-element{
    text-align: center;
}

button{
    background-color: white;
    color: black;
    border: black solid 1px;
    padding:  5px 10px;
    transition: .3s;
}

button:hover{
    background-color: black;
    color: white;
    border: white solid 1px;
}

button a{
    text-decoration: none;
    color: inherit;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    padding: 20px;
}