/* Add CSS styling here */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
/* add reset */

/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} */

/* General Styles  */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: yellow;
  border: 1px solid black;
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
}
h1,
h4 {
  letter-spacing: 3px;
  padding: 4% 0;
}

/* header styles here */
header #section1 {
  width: 100%;
  background-color: dodgerblue;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.smalls {
  width: 45%;
}

.smalls nav {
  max-width: 100%;
}
.smalls nav a {
  text-decoration: none;
  color: black;
}
.small1 {
  margin: 0 auto;
  padding: 1px;
}
.small2 {
  margin: 0 auto;
  padding: 1px;
}
.small3 {
  margin: 0 auto;
  padding: 1px;
}

.site-title {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 5% 5%;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

h1 {
  letter-spacing: 15px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  font-size: 3rem;
}

.links {
  width: 100%;
  display: flex;
  justify-content: center;
}

.one {
  border: 1px solid black;
  background-color: black;
  color: white;
  width: 15%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.two {
  border: 1px solid black;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  width: 15%;
  text-decoration: none;
}

.three {
  border: 1px solid black;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  width: 15%;
  text-decoration: none;
}

.four {
  border: 1px solid black;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  width: 15%;
  text-decoration: none;
}

.intro {
  width: 20%;
  text-align: center;
  margin: 0 auto;
  padding: 1px;
  display: flex;
  justify-content: center;
}

h2 {
  letter-spacing: 30px;
  padding: 10px;
}

.p-content {
  margin: 0 auto;
  padding: 5px 10%;
  display: flex;
  justify-content: space-around;
}

.p-content p {
  font-size: 2rem;
}

.main-image {
  width: 100%;
  display: flex;
  justify-content: stretch;
  margin: 0 auto;
}

.main-image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  padding: 5% 0;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 1% auto;
}

.images {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img1 {
  width: 22%;
  height: 50vh;
  border: 5px solid dodgerblue;
}

.img2 {
  width: 22%;
  height: 50vh;
  border: 5px solid dodgerblue;
}

.img3 {
  width: 22%;
  height: 50vh;
  border: 5px solid dodgerblue;
}

.img4 {
  width: 22%;
  height: 50vh;
  border: 5px solid dodgerblue;
}

.info p {
  margin: 150% auto;
}
.contacto {
  background-color: dodgerblue;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav .contact-me {
  border: 1px solid yellow;
  background-color: white;
  color: black;
  width: 15%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.contact-me {
  margin: 4% auto;
}
