/* Add CSS styling here */
/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

:focus {
	outline: 0;
	}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /* border:1px solid grey; */
}

html{
    font-size:62.5%;
}

body{
    font-size:1.6rem;
    font-family: 'Montserrat', sans-serif;
    color: #184E77;
}

header div{
    display: inline-block;
    margin: 2rem;
    display:flex;
    justify-content:space-between;
    width: 100%;
}
    
nav {
    width: 100%;
    display:flex;
    justify-content:flex-end;
    padding:1rem;
}


div p{
    font-size: 3rem;
    color:#184E77;
    padding:2rem;
}

.top{
    display: flex;
    margin: 1% 15% 1% 15%;
    padding-top:3%;
    padding-bottom:3%;
    justify-content: center;
    align-items: center;
    background-image: url('https://picsum.photos/id/1002/1000');
}

.home{
    background-color:#184E77;
    color:#FFFFFF;
    padding:2rem 3rem;
}
.about{
    background-color:#1E6091;
    color:#FFFFFF;
    padding:2rem 3rem;
}
.contact{
    background-color:#1A759F;
    color:#FFFFFF;
    padding:2rem 3rem;
}
.project{
    background-color:#168AAD;
    color:#FFFFFF;
    padding:2rem 3rem;
}

.mystuff{
    display:flex;
    flex-flow: column;
    align-items: center;
    margin: 15%;
    justify-content: center;
    
}
h1{
    font-size:8rem;
    margin:2%;
    text-align: center;
    color:#FFFFFF;
}

.mystuff button{
    align-items:center;
    background-color: #76C893; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
}

.mid{
    display:flex;
    max-width:100%;
    justify-content: space-between;
    
}
.left-block{
    max-width:100%;
  flex-direction: column;
  padding-top:2rem;
}
.mid-block{
  flex-direction: column;
  max-width:100%;
  padding-top:2rem;
}
.right-block{
  flex-direction: column;
  max-width:100%;
  padding-top:2rem;
}

.caption {
    display: block;
    padding:3%;
    text-align:center;
}

footer {
    display: flex;
    justify-content:center;
    padding: 3%;
    background-color:#168AAD;
}

footer button{
    align-items:center;
    background-color: #76C893; /* Green */
    border: none;
    color: white;
    padding: 2rem 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    
}