@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body {
  font-family: 'Muli', sans-serif;
  }
body{
	background: linear-gradient(to bottom right ,rgba(255,255,255,0),dodgerblue,skyblue,lightblue);
}
header {
	width:100%;
	background:linear-gradient(to bottom right, rgba(255,255,255,0), lightgrey, darkgrey, grey);
	display:inline-block;
}
h1 {
	width:20%;
	float:left;
}
nav{
		float:right;
	}
.nav{
	width:300px;
	color:black;
	text-decoration:none;
	text-align:center;
	background-color:transparent !important;
	box-shadow:0px 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	background-image:linear-gradient(grey,darkgrey);
	display:inline-block;
	padding:10px;
	margin:10px;
}
.myPicture{
	display:inline-block;
	float:left;
}
.intro{
	display:inline-block;
	float:right;
	width:40%;
}
.why{
	display:inline-block;
	margin:20px;
	background:linear-gradient(rgba(255,255,255,0), lightgrey, darkgrey, grey);
	width:25%;
	float:left;
	clear:both;
	}
.skills{
display:inline-block;
margin:20px;
background:linear-gradient(rgba(255,255,255,0), lightgrey, darkgrey, grey);
float:right;
clear:none;
}
.workHistory{
	background:linear-gradient(rgba(255,255,255,0), lightgrey, darkgrey, grey);
}
table  { overflow-y: auto; height: 100px; }
.workhistory.table thead th { position: sticky; top: 0; }

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }
*/

	@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body {
  font-family: 'Muli', sans-serif;
  }
body{
	background: linear-gradient(to bottom right ,#32527b,#556c90, #7787a5,#98a4bb,#bac1d1,#dce0e8,#ffffff);
}

header {
	width:100%;
	background:linear-gradient(rgba(255,255,255,0), lightgrey, darkgrey, grey);
	display:inline-block;
}
h1 {
	width:20%;
	float:left;
}
nav{
		float:right;
	}
.nav{
	width:300px;
	color:black;
	text-decoration:none;
	text-align:center;
	background-color:transparent !important;
	box-shadow:0px 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	background-image:linear-gradient(grey,darkgrey);
	display:inline-block;
	padding:10px;
	margin:10px;
}
.myPicture{
}
.intro{
	
	background:linear-gradient(rgba(255,255,255,0), lightgrey, darkgrey, grey);
}
.why{
	background:linear-gradient(rgba(255,255,255,0), lightgrey, darkgrey, grey);

	}
.skills{
background:linear-gradient(rgba(255,255,255,0), lightgrey, darkgrey, grey);

}
div{
width:40%;
}
.container1{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	flex-direction:row;
	width:auto;
}
.workHistory{
	background:linear-gradient(rgba(255,255,255,0), lightgrey, darkgrey, grey);
}
table  { overflow-y: auto; height: 100px; }
.workhistory.table thead th { position: sticky; top: 0; }

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }
h2{
	box-shadow:0px 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	background-image:linear-gradient(grey,darkgrey);
	padding:10px;
	margin:10px;
}
.workHistory{
	width:100%;
}
