html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
:focus {
	outline: 0;
	}
* {
    border: 1px solid red;
    box-sizing: border-box; 
}
.top{
    display: flex;
}
.name {
    margin-right: -12%;
    padding: 2%;
    font-size: 2rem;
}
.navbar {
    margin: 0% 0% 2% 81%;
}
.nav-links{
    margin-left: -78%;
    margin-top: 21%;
}
.nav-links a{
    padding: 2% 6% 2% 4%;
    text-decoration: none;
}
.middle{

}
.banner{
    margin: 5%;
    text-align: center;
    padding: 20%;
}
.boxes-row1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.boxes-row1 div{
    padding: 10%;
}
.label-row1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project2{
    margin: 0% 2% 0% 2%;
}
.boxes-row2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.boxes-row2 div{
    padding: 10%;
}
.label-row2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project5{
    margin: 0% 2% 0% 2%;
}
footer{
    text-align: center;
}
footer div{
    margin: 3%;
}





.box1{

}
.box2{

}
.box3{

}
.box4{

}
.box5{

}
.box6{

}