

.projects{
    margin:  10px;
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
}


.project-img{
    margin:  10px;
    display:flex;
    justify-content: space-around;
    justify-content: center;
    justify-content: space-evenly;
}
    
}

.project-img

{
    width: 100%;
    height: 95%;
    border-radius: 30px;}
