/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/**general styles*/
* {
}

html {
    font-size:62.5%; /*then 1rem === 10px - and it gives the user control*/
}
body {
    margin: 0 auto;
    text-align: center;
    max-width: 1780px;
    font-family: 'Noto Serif', serif; /* serif fonts are easy to read in large block of text */
    font-size:1.6rem;
    line-height:1.5;
    color:#4f4f4f; /* not all black #000 is easy to read for the user */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    letter-spacing:3px;
}
a {
    color:#4f4f4f;
    text-decoration:none;
    letter-spacing:2px;
}
section {
    width: 100%;
    padding:4% 0;
}
.hidden {
    display: none;
}
.block {
    width: 100%;
    display: block;
}

/* mra */

header {
    position: fixed;
    width: 94%;
    margin-top: 2%;
    padding: 1.5% 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background-color: #FFF;
}
.brand {
    margin-left: 5%;
    cursor: default;
}
.brand h1 {
    padding: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    transition-duration: 1s;
}

header nav {
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header nav a {
    display: inline-block;
    color: #000;
    padding: 1% 0;
    border-bottom: 2px solid #000 !important;
}
header nav a:hover {
    color: ROYALBLUE;
    border-bottom: 2px solid ROYALBLUE !important;
    transition-duration: 0.1s;
}

header:hover > .brand h1 {
    color: ROYALBLUE !important;
    transition-duration: 0.5s;
}





.intro {
    margin-top: 140px;
    width: 94%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    transition-duration: 1s;
}
.intro:hover {
    border-radius: 0;
    transition-duration: 1s;
}
.intro div {
    width: 100%;
    text-align: center;
}
.intro div h2 { 
    display: inline-block;
    margin-bottom: 1%;
    font-family: 'Noto Serif', serif; 
    font-size: 3rem;
    color: AZURE;
    padding: 0.5% 3%;
    background-color: #000;
}
.intro div p {
    display: inline-block;
    font-family: 'Noto Serif', serif; 
    font-size: 1.6rem;
    color: AZURE;
    padding: 0.4% 3%;
    background-color: #000;
}


.projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projects .project {
    width: 40%;
    height: 60vh;
    margin-bottom: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(https://picsum.photos/100);
    -webkit-transition: background-size 0.4s ease-in;
    transition: background-size 0.4s ease-in;
}

.projects .project:nth-child(1) {
    /* background-image: url(https://picsum.photos/200); */

}


.projects .project:hover, .projects .project:focus {
    background-size: 150% 150%;
    -webkit-transition: background-size 0.5s ease-in;
    transition: background-size 0.5s ease-in;
}
.projects .project:hover > .info div h2, .projects .project:focus > .info div h2 {
    transition-duration: 1s;
    color: ROYALBLUE !important;
}


.projects .project .info {
    margin-left: -3%;
    margin-top: 25vh;
    width: 70%;
    height: 30vh;
    text-align: left;
    background-color: #FFF;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.projects .project .info div {
    width: 100%;
    padding: 0 10%;
    line-height: 1.8;
}
.projects .project .info div h2 {
    font-weight: 600;
    text-transform: uppercase;
    color: #A2A19F;
    font-size: 1.8rem;
}
.projects .project .info div p {
    font-weight: 500;
    color: #1f1d1c;
    font-size: 2.2rem;
}
.projects .block {
    display: flex;
    justify-content: center;
}
.projects .see-more {
    padding: 1.5% 3%;
    margin: 0 auto;
    display: inline-block;
    color: #FFF;
    background-color: NAVY;
}
.projects .see-more span:nth-child(1) {
    display: block;
}
.projects .see-more span:nth-child(2) {
    display: none;
}

.projects .see-more:hover span:nth-child(1) {
    display: none;
}
.projects .see-more:hover span:nth-child(2) {
    display: block;
}



footer {
    padding: 5%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background-color: WHITESMOKE;
}
footer a {
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
}
footer span {
    color: LIGHTSLATEGRAY;
    font-weight: 300;
}
footer span i:nth-child(1) {
    color: RED;
}
footer span i:nth-child(2) {
    background-color: #000;
    color: LIME;
}



@media only screen and (min-width: 1350px) {

    .intro {
        height: 25vh;
        margin-top: 210px;
        width: 94%;
    }
    .projects {
    }
    .projects .project {
        width: 21.5%;
        justify-content: space-between;
        margin: 0;
        height: 45vh;
        /* 
        margin-bottom: 5%; */
    }
    .projects .project .info {
        margin-left: -3%;
        margin-top: 26vh;
        width: 90%;
        height: 14vh;
    }
    .projects .block {
        margin-top: 60px;
    }
    footer.block {
        width: 86%;

    }
  }




@media only screen and (max-width: 800px) {
    header {
        padding: 3% 0;
        justify-content: center;
    }
    header nav {
        margin:0;
        width: 100%;
        justify-content: space-evenly;
        font-size: 1.5rem;
    }
    .brand {
        display: none;
    }
    .intro {
        margin-top: 130px;
        margin-bottom: 40px;
    }
    .intro div {
        width: 80%;
    }
    .intro div h2 {
        font-size: 2.5;
        font-weight: 600;
        color: #000;
        background-color: transparent;
    }
    .projects .project {
        /* margin-bottom: 8%;
        width: 80%;
        height: 40vh; */
    }
    .projects .project .info {
        margin-top: 32vh;
        width: 90%;
        height: 20vh;
    }
    .projects .project .info div h2 {
        font-size: 1.2rem;
        font-weight: 600;
    }
    .projects .project .info div p {
        font-size: 1.4rem;
        font-weight: 600;
    }
  }




  @media only screen and (max-width: 500px) {
    header {
        margin-top: 6%;
        padding: 6% 0;

    }
    .intro {
        margin-top: 125px;
        margin-bottom: 10px;
        width: 90%;
        height: 65vh;
        border-radius: 0;
    }
    .projects .project {

        width: 90%;
        height: 50vh;
        margin-bottom: 5%;
    }
    .projects .project .info {
        margin-left: -3%;
        margin-top: 32vh;
        width: 90%;
        height: 14vh;
    }
    .projects .block {
        display: none
    }
  }