body {
  background-color: #ffffff;
  font-family: Tahoma;
  margin: 0;
}

header {
  font-size: 0;
  height: auto;
  width: auto;
}

header .site-name {
  display: flex;
  justify-content: center;
  width: 325px;
  margin: 30px auto;
}

header .site-name h1 {
  width: 325px;
  font-size: 50px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0px;
}

header .nav-bar {
  display: flex;
  justify-content: center;
  width: 429px;
  margin: 0px auto;
}

header .nav-bar nav {
  width: 429px;
}

header .nav-bar nav a {
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  padding: 10px 30px;
  border: 1px solid black;
  margin: 0px;
  color: black;
  text-transform: capitalize;
}

header .nav-bar nav a:hover {
  background-color: black;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section .intro-title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.site-intro .intro-title h2 {
  width: auto;
  font-size: 50px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0px;
}

.site-intro .intro-text {
  margin: 50px auto;
  width: 80%;
  line-height: 35px;
}

.site-intro .intro-text p {
  margin: 0px;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}

.site-intro div.intro-img img {
  object-fit: cover;
  width: 100%;
  height: 560px;
}

.projects-row {
  display: flex;
  margin: 25px 0px;
}

.projects-row img {
  object-fit: cover;
  width: 325px;
  height: 725px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#project-1-img {
  margin: 0px;
}

#project-1-img:hover {
  filter: brightness(50%);
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

#project-2-img {
  margin-left: 25px;
}

#project-2-img:hover {
  filter: brightness(50%);
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

#project-3-img {
  margin-left: 25px;
}

#project-3-img:hover {
  filter: brightness(50%);
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

#project-4-img {
  margin-left: 25px;
}

#project-4-img:hover {
  filter: brightness(50%);
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.projects-row .description {
  margin: auto;
  text-align: center;
  width: 175px;
  line-height: 35px;
  font-size: 16px;
}

.site-intro .page-info {
  text-align: center;
}

.selfie {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.selfie img {
  width: 10%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#about-info {
  margin-top: 25px;
}

#contact-text {
  text-align: center;
  margin-bottom: 0px;
}

.container .contact-info {
  width: 137px;
  height: auto;
  
}

.container .contact-info a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  text-decoration: none;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 25px 0px;
  color: black;
  text-transform: capitalize;
  background-color: white;
  width: 75px;
  text-align: center;
}

.about-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 225px;
}

footer div.contact-me {
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #dbdbdb;
  width: 100%;
  height: 225px;
}

footer div.contact-me a {
  font-size: 15px;
  text-decoration: none;
  padding: 10px 30px;
  border: 1px solid black;
  margin: 0px 25px;
  color: black;
  text-transform: capitalize;
  background-color: white;
}

a.facebook:hover {
  color: white;
  background-color: #3b5998;
  border: 1px solid #3b5998;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.twitter:hover {
  color: white;
  background-color: #00acee;
  border: 1px solid #00acee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.github:hover {
  color: white;
  background-color: #212121;
  border: 1px solid #212121;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

