/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video */


*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    position: relative;
    box-sizing: border-box; 
    font-size: 60%;
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: 1500px;
}

body {
    border: solid 2px black;
    position: relative;
    margin: 0;
    padding-bottom: 1rem;
    min-height: 100%;
}

.main-container {
    min-height: 100%;
    overflow:scroll;
    display: block;
    position: relative;
}

a {
    background-color: transparent;
    background: none;
    text-decoration: none;
    border: 2px solid #64A8DC;
    border-radius: 5px;
    color: black;
    text-align: center;
    transition: all .3s ease-in-out;
    padding: 10px;
}

a:hover {
    background-color: rgb(117, 50, 34);
    color:white;
    transform: scale(1.1);
}


header > div {
    display: flex;
    border: none;
    background-color: #B1CCE1;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 6em;
    margin: 1em;
    color: rgb(117, 50, 34);
    text-shadow: 4px 4px #4289CB;
}

h2 {
    font-family: 'Caveat', cursive;
    color: black;
    font-size: 4em;
}

span {
    border: solid 2px rgb(117, 50, 34);
    width: 100%;
}

.nav-bar {
    background: linear-gradient(to bottom, #b1cce2 0%, #63a8dc 100%);
    width: 100%;
}

nav {
    display: flex;
    width: 60%;
    justify-content: space-between;
    font-size: 3rem;
    padding: 2rem;
    font-family: 'Caveat', cursive;
    margin-left: 2rem;
}

img {
    float: left;
    width: 60rem;
    min-height: 20rem;
    margin: 2rem;
    margin-right: 3rem;
    box-shadow: 0 15px 15px -15px black;
}

.flex-container1 {
    background: linear-gradient(to bottom, #64a8dc 0%, #125696 100%);
    border-top: solid 4px rgb(117, 50, 34);
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    padding: 3rem;
}

.flex-container1 p {
    font-family: monaco;
    display: inline;
    width: 50%;
    font-size: 1.5em;
    padding: 4rem;
    color: white;
}

.flex-container1 a {
    transition: all .3s ease-in-out;
    font-family: 'Caveat', cursive;
    font-size: 2rem;
}

.flex-container1 a:hover {
    background-color: rgb(117, 50, 34);
    color:white;
    transform: scale(1.1);
}

.galley {
    background-color: inherit;
    border: solid 10px black;
}


.flex-container2 {
    background: linear-gradient(to bottom, #125696 0%, #64a8dc 100%);
    color: white;
    width: 100%;     
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 2.3em;
    font-family: monaco;
    padding-bottom: 2rem;
}

.flex-container2 > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

.flex-container2 img {
    width: 35rem;
    height: 35rem;
    box-shadow: 0 15px 15px -15px black;
}

.flex-container2 > div:hover {
    transform: scale(1.05);
}


.footer-flex {
    background: linear-gradient(to bottom, #63a8dc 0%, #b1cce2 100%);
    border-top: solid 4px rgb(117, 50, 34);
    width: 100%;
    display: block;
    padding: 1rem;     
}

.footer-flex h2 {
    text-align: center;
}

.links {
    display: flex;
    font-family: 'Caveat', cursive;
    justify-content:space-around;
    align-items: center;
    font-size: 4rem;
    margin: 2em;
}



/*=============== MEDIA ====================*/


@media only screen and (min-width:350px) and (max-width: 800px) {

    header > div {
        align-items: center;
    }

    nav{
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
    }

    .flex-container1 p {
        margin: auto;
    }

    .about-me {
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
        width: 80%;
    }

    img {
        width: 100%;
        object-fit: cover;
        margin: auto;
        margin-bottom: 2rem;
    }

    .flex-container2 {
        align-items: center;
        width: 100%;
        margin: auto;
        font-size: inherit;
    }

    .flex-container2 div {
        align-items: center;
    }

    .links {
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
    }


    .footer-flex {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width:500px) {

    .img {
        width: auto;
}

    .flex-container2 div {
        width: 20rem;
        height: 20rem;
        align-items: center;
        overflow: hidden;
    }

}
