/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* here is where i start(General styling) */


*{
    box-sizing: border-box;
    /* border:1px solid grey; */
    max-width: 100%;
}

html{
font-size: 62,5%;
}
body{
    font-family: "Roboto Mono",monospace;
}
h1{
    font-family: "Chelsea Market",cursive;
    font-size: 4rem;
}
section{
    padding: 4% 0;
    width: 90%;
    margin: 0 auto;
}

/* Header links */
header{
    padding: 4%;
    background-color:ivory;
    border: 2px solid black;
}
nav{
    display: flex;
}
nav a{
flex-direction: row;
border:1.5px solid black;
width: 15%;
height:10%;
text-decoration: none;
padding: 1% 0;
background-color: antiquewhite;
text-align: center;
color:black;
font-size:2rem;

}

.home{
   display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.main-content{
   flex-direction: column;
    padding: 5%;
    font-size: 1.4rem;


}
.main-image{
    width: 700px;
    height:500px;
}



.project-button{
    width: auto;
    height: auto;
    padding: 2%;
    font-size: 1.3rem;
    background-color: antiquewhite;
    border: 1.5px solid black;
    
}
h2{
    font-size: 1.9rem;
  padding-bottom: 2%;
    
}
/* pictures part */

.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
img{
    width: 300px;
    height: 300px;
    padding: 3%;
}
h3{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}


/* footer */

footer{
 height: auto;
background-color: ivory;
text-align: center;
padding: 5%;
font-size: 1.7rem;
border: 2px solid black;
}

#contact{
    font-size: 1.4rem;
    padding: 1%;
    background-color: antiquewhite;
    margin-top: 1%;
    color: black;
    border: 1.5px solid black;
}


@media(max-width:800px){
.header{
    width: 95%;
}
h1{
    text-align: center;
}
nav a{
    width: 30%;
}
.home{
    flex-wrap: wrap;  
    flex-direction: row;
    justify-content: space-around;
   
}
.main-image{
    width: 50%;
}
.main-content{
    width: 45%;
    text-align: center;
}
.projects{
    width: 100%;
    justify-content: space-evenly;
}
.projects div{
    margin-bottom: 5%;
}



}

@media(max-width:500px){
.header{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    padding:2%;
    font-size: 3rem;
    text-align: center;
}
nav{
    flex-direction: column; 
    width: 40%; 
}

nav a{
    width: 100%;
    font-size: 1.5rem;
    padding:5%;
}

.home{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
   
}


.main-content{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.main-content a{
    width: 100%;
}
.project-button{
    width: 40%;
}
.main-image{
    height: 50vh;
    width: 90%;
}


.projects{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 8%;
}

.projects div{
    width: 45%;
    margin-bottom: 5%;
    padding: 2%;
}


.projects img{
height:40vh;
}
h3{
    padding:2%
}

footer p{
    margin:5%;
}



}



