html{
    font-size:16px;
    font-size:64.5%;
}
body{
    font-size:3rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.container{
    margin: 2% auto;
}
a{
    text-decoration: none;
}
/* header */
header{
    text-align:center;
}
header h1{
    font-size:10rem;
}
header ul{
    display:flex;
    justify-content: center;
}
header nav{
    background-color:black;
}
header nav a{
    display: inline-block;
    color:white;
    height:100%;
    padding: 10px 0;
}
header nav a:hover{
    background-color: white;
    color:black;
    transition-duration: 0.5s;
}
header nav li{
    display:inline-block;
    margin:auto 1%;
}