body {
    background-color: #0C2340;
    overflow-x: hidden;
}

html {
    font-family: 'Roboto Mono', 'sans-serif';
}

p {
    font-weight: 400;
    color:  #FA4616;
}

header {
    position: relative;
    left: 5rem;
    bottom: 1.3rem;
    height: 7rem;
}

.intro-header  {
    background-color: #FA4616;
    border-radius: 2rem;
    width:  90%;
}

.intro-header nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1.4rem;
}

.intro-header h1 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: xx-large;
}

.intro-header nav button {
    border-radius: 2rem;
    border: none;
    background: #0C2340;
    color: #FA4616;
    width: 8rem;
    height: 3rem;
    position: relative;
    bottom: 2rem;
    transition: 2s;
}

.intro-header nav button:hover {
    background-image: url(https://lh3.googleusercontent.com/68_r8UB8jRPBr2Kfq640ZEG8q7LkZ9u2370p6jMFL_bhajUpzg5e7qOAExdozl2IvIBQTmr_7ec=w1440-ns-nd-rj);
    background-position: center;
    background-size: contain;
    color: #FA4616;
}

.about-me {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.about-me button {
    height: 2rem;
    width: 7rem;
    border: none;
    border-radius: 2rem;
    background-color: #FA4616;
    color: #0C2340;
    position: relative;
    top: 10rem;
    transition: 1s;
}

.about-me button:hover {
    background-image: url(https://lh3.googleusercontent.com/68_r8UB8jRPBr2Kfq640ZEG8q7LkZ9u2370p6jMFL_bhajUpzg5e7qOAExdozl2IvIBQTmr_7ec=w1440-ns-nd-rj);
    background-position: center;
    background-size: contain;
    color: #FA4616;
}


.about-me h2 {
    height: max-content;
    width: 22rem;
    position: relative;
    top: 8rem;
    left: 8rem;
    color:  #FA4616;
}

.about-me p {
    position: relative;
    top: 13rem;
    right: 21rem;
}

.about-me img:hover {
    border: 6px dotted #FA4616;
}


img {
    width: 35rem;
    height: 25rem;
    border-radius: 2rem;
    position: relative;
    left: 4rem;
}

.images {
    display: flex;
    flex-direction: row;
}

.images img {
    width: 15rem;
    height: 15rem;
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5rem;
}

.images img:hover {
    border: 6px dotted #FA4616;
}

.images .box  p {
    display: flex;
    position: relative;
    left: 11.4rem;
    bottom: 3.4rem;
}

.images2 {
    display: flex;
    flex-direction: row;
}

.images2 img {
    width: 15rem;
    height: 15rem;
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5rem;
}

.images2 img:hover {
    border: 6px dotted #FA4616;
}


.images2 .box  p {
    display: flex;
    position: relative;
    left: 11.4rem;
    bottom: 3.4rem;
}

footer {
    position: relative;
    left: 5rem;
    bottom: 1.3rem;
    height: 7rem;
}

.footer-nav  {
    margin: 1rem;
    position: relative;
    background-color: #FA4616;
    border-radius: 2rem;
    width:  90%;
    display: flex;
    justify-content: center;
}

.footer-nav nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1.4rem;
}

.footer-nav nav button {
    border-radius: 2rem;
    border: none;
    background: #0C2340;
    color: #FA4616;
    width: 8rem;
    height: 3rem;
    position: relative;
    top: 0.6rem;
}

.footer-nav button {
    position: relative;
    top: 3.6rem;
    right: 9.8rem;
    background-color: #0C2340;
    color: #FA4616;
    border: none;
    border-radius: 2rem;
    width: 7rem;
    height: 2rem;
    transition: 2s;
}

.footer-nav button:hover {
    background-image: url(https://lh3.googleusercontent.com/68_r8UB8jRPBr2Kfq640ZEG8q7LkZ9u2370p6jMFL_bhajUpzg5e7qOAExdozl2IvIBQTmr_7ec=w1440-ns-nd-rj);
    background-position: center;
    background-size: contain;
    color: #FA4616;
}

